<div class="dashboard fullviewComponent widget-row learner-track-fullview">
  <div class="widget-heading row">
    <span>
      <i class="fas fa-angle-left" routerLink="/"></i>
    </span>
    <span> How is my organization performing? </span>
  </div>
  <div class="widget-block">
    <div class="m-b-12">
      <div class="float-left form-inline">
        <span>
          <b>Display Leaderboard for </b>
        </span>
        <select class="custom-select w-90 m-l-8" [(ngModel)]="showDetails">
          <option [value]="'teams'">Teams</option>
          <option [value]="'trainers'">Trainers</option>
          <option [value]="'learners'">Learners</option>
        </select>
      </div>
      <div class="action-items float-right">
        <span class="compare-selected">Add to compare</span>
        <span class="clear-selected">Clear all</span>
        <!-- <button type="button" class="btn btn-primary">Add to compare</button>
        <button type="button" class="btn btn-secondary m-l-20">Clear all</button> -->
      </div>
    </div>
    <div>
      <table class="table table-borderless" *ngIf="showDetails == 'teams'">
        <thead>
          <tr>
            <th scope="col">
              <span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <span class="text">Team Name</span>
              <span class="m-l-8">
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Completion %
              <span class="m-l-8">
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Completed Programs
              <span class="m-l-8">
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Team Size
              <span class="m-l-8">
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Action
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let teamData of responseTeamsDetails">
          <tr>
            <th scope="row" (click)="comapreUsers(teamData)">
              <span class="m-l-47 check-box" [ngClass]="{'checked-box': compareUsers.includes(teamData.teamId)}">
                <!-- <input type="checkbox" [(ngModel)]="checkBoxValue"> -->
              </span>
              <span class="imgActive">
                <img src="/assets/images/user.png" alt="userImg">
                <i class="far fa-circle"></i>
              </span>
              <span class="userName">{{teamData.teamName}}</span>
            </th>
            <td class="">{{parseFloat(teamData.completion).toFixed(2)}}</td>
            <td class="">{{teamData.completedProgram}}</td>
            <td class="">{{teamData.teamsize}}</td>
            <td class="text-primary">
              <img src="/assets/IconsSVGs/congradulate.svg" alt="congrats" height="15" width="15">
              <span>Congratulate</span>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-borderless" *ngIf="showDetails == 'trainers'">
        <thead>
          <tr>
            <th scope="col">
              <span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <span class="text">Trainer Name</span>
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Trainings Conducted
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">People Trained
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Avg. Rating
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let trainerData of responseTrainersDetails">
          <tr>
            <th scope="row">
              <span>
                <input type="checkbox" aria-label="Checkbox for following text input" value="">
              </span>
              <span>
                <img src="/assets/images/user.png" alt="userImg" height="20" width="20">
              </span>
              <span class="userName">{{trainerData.trainerName}}</span>
            </th>
            <td class="">{{trainerData.trainingsConducted}}</td>
            <td class="">{{trainerData.peopleTrained}}</td>
            <td class="">
              <span>
                <i class="far fa-star"></i>
              </span>{{trainerData.avgRating}}</td>
            <td class="text-primary">
              <img src="/assets/IconsSVGs/congradulate.svg" alt="congrats" height="15" width="15">
              <span>Congratulate</span>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-borderless" *ngIf="showDetails == 'learners'">
        <thead>
          <tr>
            <th scope="col">
              <span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <span class="text">Learner Name</span>
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">
              <span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <span class="text">Serial No.</span>
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Points Earned
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Avg. Test Performance
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Exam Score
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody *ngFor="let learnerData of responseLeanersDetails">
          <tr>
            <th scope="row">
              <span>
                <input type="checkbox" aria-label="Checkbox for following text input" value="">
              </span>
              <span>
                <img src="/assets/images/user.png" alt="userImg" height="20" width="20">
              </span>
              <span class="userName">{{learnerData.learnerName}}</span>
            </th>
            <td class="">{{learnerData.learnerSerialNumber}}</td>
            <td class="">{{learnerData.pointsEarned}}</td>
            <td class="">{{learnerData.avgTestPerformance}}</td>
            <td class="">{{learnerData.examScore}}</td>
            <td class="text-primary">
              <img src="/assets/IconsSVGs/congradulate.svg" alt="congrats" height="15" width="15">
              <span>Congratulate</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>