.m-l-20 {
  margin-left: 20px;
}

.m-l-8 {
  margin-left: 8px;
}

.w-90 {
  width: 90px;
}

table {
  tbody {
    td {
      font-size: 12px;
      font-weight: 100;
    }
    i {
      color: #ffd630;
    }
  }
}
