<div class="dashboard fullviewComponent widget-row learner-track-fullview" id="dashboard_part_one">
  <div class="row">
    <div class="widget-heading fullview-heading col-md-6">
      <span>
        <i class="fa fa-angle-left" routerLink="/"></i>
      </span>
      <span> How is my organization performing? </span>
    </div>
  </div>
  <div class="widget-block">

    <div *ngIf="spinner_loader" class="spinner_loading">
      <app-spinner></app-spinner>
    </div>

    <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
      <span class="spinner_inside">No data found</span>
    </div>

    <div class="m-b-12">
      <div class="float-left form-inline">
        <span>
          <b>Display Leaderboard for </b>
        </span>
        <select class="custom-select w-140" [(ngModel)]="showDetails" (change)="changeData(showDetails)">
          <option [value]="'teams'">Teams</option>
          <option [value]="'trainers'">Trainers</option>
          <option [value]="'learners'">Learners</option>
        </select>
      </div>
      <div class="action-items float-right">
        <span *ngIf="compareUsers.length>0"> {{compareUsers.length}} {{componentName}} selected </span>
        <span class="compare-selected" (click)="compareSelected()">Add to compare</span>
        <span class="clear-selected" (click)="clearSelected()">Clear all</span>
      </div>
    </div>
    <div>

      <table class="table table-borderless" *ngIf="showDetails == 'teams'">
        <thead>
          <tr>
            <th scope="col">
              <span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <span>
                <input type="text" [(ngModel)]="searchString" placeholder="Team Name" (keyup)="searchItem()">
              </span>
              <span (click)="sortByFn('teamName')">
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('completion')">Completion %
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('completedProgram')">Completed Programs
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('teamSize')">Team Size
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teamData of responseData">
            <th scope="row" (click)="selectToCompare(teamData)">
              <span class="m-l-47 check-box " [ngClass]="{ 'checked-box': checkItemInApplied(teamData)} "></span>
              <span class="imgActive">
                <img src="/assets/images/user.png" alt="userImg" height="20" width="20">
                <i class="fa fa-circle"></i>
              </span>
              <span class="userName">{{teamData.teamName}}</span>
            </th>
            <td class="">{{parseFloat(teamData.completion)}}</td>
            <td class="">{{teamData.completedProgram}}</td>
            <td class="">{{teamData.teamSize}}</td>

            <td>
              <span *ngIf="teamData.completion > 75" class="action_icon positive-color cursor-pointer" (click)="composeEmail('congrats',teamData.teamId)">
                <img src="/assets/images/congradulate.png" alt="congrats" height="15" width="15"> Congratulate
              </span>
              <span *ngIf="teamData.completion <= 75" class="action_icon negative-color cursor-pointer" (click)="composeEmail('followup',teamData.teamId)">
                <i class="fa fa-exclamation-triangle"></i>
                Follow up
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-borderless learnerTable" *ngIf="showDetails == 'trainers'">
        <thead>
          <tr>
            <th scope="col">
              <span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <span>
                <input type="text" [(ngModel)]="searchString" placeholder="Trainer Name" (keyup)="searchItem()">
              </span>
              <span (click)="sortByFn('trainerName')">
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('trainingsConducted')">Trainings Conducted
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('peopleTrained')">People Trained
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('avgRating')">Avg. Rating
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trainerData of responseData">
            <th scope="row " (click)="selectToCompare(trainerData) ">
              <span class="m-l-47 check-box " [ngClass]="{ 'checked-box': checkItemInApplied(trainerData)} "></span>
              <span class="imgActive ">
                <img src="/assets/images/user.png " alt="userImg " height="20 " width="20 ">
                <i class="fa fa-circle "></i>
              </span>
              <span class="userName ">{{trainerData.trainerName}}</span>
            </th>

            <td>{{trainerData.trainingsConducted | customNumber}}</td>
            <td>{{trainerData.peopleTrained}}</td>
            <td>
              <span>
                <i class="fa fa-star-o text-warning"></i>
              </span>{{trainerData.avgRating}}
            </td>

            <td>
              <span *ngIf="trainerData.avgRating> 3.5" class="action_icon positive-color cursor-pointer" (click)="composeEmail('congrats',trainerData.trainerId)">
                <img src="/assets/images/congradulate.png" alt="congrats" height="15" width="15"> Congratulate
              </span>
              <span *ngIf="trainerData.avgRating <= 3.5" class="action_icon negative-color cursor-pointer" (click)="composeEmail('followup',trainerData.trainerId)">
                <i class="fa fa-exclamation-triangle"></i>
                Follow up
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-borderless" *ngIf="showDetails == 'learners'">
        <thead>
          <tr>
            <th scope="col">
              <span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <span>
                <input type="text" [(ngModel)]="searchString" placeholder="Learner Name" (keyup)="searchItem()">
              </span>
              <span (click)="sortByFn('learnerName')">
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('serialNumber')">
              <span class="text">Serial No.</span>
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('pointsEarned')">Points Earned
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('avgTestPerformance')">Avg. Test Performance
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('examScore')">Exam Score
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let learnerData of responseData">
            <th scope="row " (click)="selectToCompare(learnerData) ">
              <span class="m-l-47 check-box " [ngClass]="{ 'checked-box': checkItemInApplied(learnerData)} "></span>
              <span class="imgActive ">
                <img src="/assets/images/user.png " alt="userImg " height="20 " width="20 ">
                <i class="fa fa-circle "></i>
              </span>
              <span class="userName ">{{learnerData.learnerName}}</span>
            </th>
            <td>{{learnerData.serialNumber}}</td>
            <td>
              {{learnerData.pointsEarned | customNumber}}
              <span class="highNumber small arrow-space" *ngIf="learnerData.pointsEarned>=learnerData.pointsEarnedSinceLastMonth">
                <img src="/assets/images/up_arrow.png" alt="up_arrow"> {{learnerData.pointsEarnedSinceLastMonth |
                customNumber}}
              </span>
              <span class="negative-color small arrow-space" *ngIf="learnerData.pointsEarned<learnerData.pointsEarnedSinceLastMonth">
                <img src="/assets/images/down_arrow.png" alt="up_arrow"> {{learnerData.pointsEarnedSinceLastMonth |
                customNumber}}
              </span>
            </td>
            <td>{{learnerData.avgTestPerformance | customNumber}}</td>
            <td>{{learnerData.examScore | customNumber}}</td>

            <td>
              <span *ngIf="learnerData.examScore > 75" class="action_icon positive-color cursor-pointer" (click)="composeEmail('congrats',learnerData.person_id)">
                <img src="/assets/images/congradulate.png" alt="congrats" height="15" width="15"> Congratulate
              </span>
              <span *ngIf="learnerData.examScore <= 75" class="action_icon negative-color cursor-pointer" (click)="composeEmail('followup',learnerData.person_id)">
                <i class="fa fa-exclamation-triangle"></i>
                Follow up
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <app-paginate *ngIf="pagination.total_pages > 1" class="paginationSpace" [pageInfo]="pagination" (gotoPage)="gotoPage($event)"></app-paginate>
    </div>
  </div>
</div>

<ng-template #followUpContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Send an alert</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Send to</label>
        <div class="input-group">
          <input type="email" [(ngModel)]="emailData.to" name="emailData.to" [ngModelOptions]="{standalone: true}"
            readonly class="form-control" placeholder="enter
            an email ">
        </div>
        <br />
        <label for="dateOfBirth ">Message</label>
        <div class="input-group ">
          <textarea [(ngModel)]="emailData.text" [ngModelOptions]="{standalone: true}" class="form-control" aria-label="With textarea"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer ">
    <button type="button" class="btn btn-primary" (click)="c('Save click')">Send Alert</button>
    <button type="button" class="btn btn-secondary" (click)="d('Cross click')">Cancel</button>
  </div>
</ng-template>

<ng-template #congratsContent let-c="close" let-d="dismiss">
  <div class="modal-header ">
    <h4 class="modal-title " id="modal-basic-title ">Send a new message</h4>
  </div>
  <div class="modal-body ">
    <form>
      <div class="form-group ">
        <label for="dateOfBirth ">Send to</label>
        <div class="input-group ">
          <input type="email" [(ngModel)]="emailData.to" [ngModelOptions]="{standalone: true}" readonly class="form-control"
            placeholder="enter
            an email ">
        </div>
        <br />
        <label for="dateOfBirth ">Message</label>
        <div class="input-group ">
          <textarea [(ngModel)]="emailData.text" [ngModelOptions]="{standalone: true}" class="form-control" aria-label="With textarea "></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer ">
    <button type="button" class="btn btn-primary" (click)="c('Save click')">Send Message</button>
    <button type="button" class="btn btn-secondary" (click)="d('Cross click')">Cancel</button>
  </div>
</ng-template>
