<div class="widget-block userstrained-component">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link">Goals: Time Spent</a>
      </li>
    </ul>
    <div>
      <span class="float-right">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div id="tdonut-chart"></div>
  <div class="row m-t-8">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <span class="bigNumber float-left">{{timeData.timeSpent}}</span>
      <div class="p-t-7">
        <span class="small">
          <i class="fas fa-arrow-up changeNumber"></i>
        </span>
        <span class="changeNumber"> Expected {{timeData.expected}}%</span>
        <p class="m-b-0 font-color">{{timeData.hoursSpent}}of{{timeData.totalHours}} hours spent on learning activities</p>
      </div>
      <p class="boldText">
        <b>of your goals has been met</b>
      </p>
    </div>
  </div>
</div>
