.activity-user-score img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #FFF;
    margin-left: -12px;
}

.activity-user-score img:first-child {
    margin-left: 0;
}

.fa-user-friends {
    color: #ff5722;
}