<div class="row activity-user-score">
  <div class="col-md-5">
    <div>
      <b>Current Activity</b>
    </div>
    <div class="d-inline">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg">
    </div>
    <div class="d-inline bigNumber">{{usersData.currentActivity}}</div>
    <div>
      <a>Active users</a> are currently using this platform
    </div>
  </div>

  <div class="col-md-7">
    <div>
      <b>Total Users</b>
    </div>
    <div class="d-inline">
      <!-- <i class="fas fa-user-friends"></i> -->
      <img src="../../assets/IconsSVGs/People.svg" style="height:30px;width:30px;">
    </div>
    <div class="d-inline bigNumber">{{usersData.totalUsers}}</div>
    <div>
      <a>346</a> new users have joined since last month
    </div>
  </div>
</div>
<div class="line-block">
  <div id="activeUserGraph"></div>
  <div class="tool-tip">
    <table>
      <tr>
        <td class="ttip-div ttip-date">
          May 01
        </td>
      </tr>
      <tr>
        <td class="ttip-div ttip-learners">
        </td>
      </tr>
      <tr>
        <td class="ttip-div ttip-faculty">
        </td>
      </tr>
    </table>
  </div>
  <div class="row graph-badges">
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
      <i class="far fa-circle" style="color: #5584FF; background-color: #5584FF"></i> Learners
    </div>
    <div class="col-md-3">
      <i class="far fa-circle" style="color: #fca104; background-color: #fca104"></i> Faculty and Admins
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
