<div class="row activity-user-score">
  <div class="col-md-5">
    <div>
      <b>Current Activity</b>
    </div>
    <div class="d-inline">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg">
    </div>
    <div class="d-inline bigNumber">325</div>
    <div>
      <a>Active users</a> are currently using this platform
    </div>
  </div>

  <div class="col-md-7">
    <div>
      <b>Total Users</b>
    </div>
    <div class="d-inline">
      <!-- <i class="fas fa-user-friends"></i> -->
      <img src="../../assets/IconsSVGs/People.svg" style="height:30px;width:30px;">
    </div>
    <div class="d-inline bigNumber">15,650</div>
    <div>
      <a>346</a> new users have joined since last month
    </div>
  </div>
</div>
<div id="activeUserGraph"></div>