<div>
  <div class="widget-heading clearfix font-weight-bold">
    <p class="float-left">How active are the users?</p>
    <p class="float-right p-r-6" data-toggle="tooltip" data-placement="top" title="How active are the users?">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
    </p>
  </div>
  <div class="widget-block">
    <div class="headingText clearfix">
      <ul class="nav float-left">
        <li class="nav-item">
          <a class="nav-link" class="cursor-pointer" [ngClass]="{'active' :getTab =='activeUser'}" (click)="activeUsersFn()">Active
            Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" class="cursor-pointer" [ngClass]="{'active' :getTab =='modeDelivery'}" (click)="modeDeliveryFn()">Mode
            of Delivery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" class="cursor-pointer" [ngClass]="{'active' :getTab =='location'}" (click)="locationFn()">Location</a>
        </li>
      </ul>
      <div class="float-right widget-menu">
        <span data-toggle="tooltip" data-placement="top" title="{{tooltipText}}">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
        </span>
        <span class="p-l-20" ngbDropdown placement="bottom-right">
          <i class="fa fa-ellipsis-v ellipse" aria-hidden="true" ngbDropdownToggle></i>
          <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-items">
            <!-- <li class="list-inline-item cursor-pointer">
                <span>
                  <img src="../../assets/images/save.png">
                </span>
                <span class="font-color p-l-10 cursor-pointer">
                  <b>Save this view</b>
                </span>`
              </li>
              <li class="list-inline-item cursor-pointer" (click)="open(followUpContent)">
                <span>
                  <img src="../../assets/images/mail.png">
                </span>
                <span class="font-color p-l-10 cursor-pointer">
                  <b>Email this report</b>
                </span>
              </li> -->
            <li class="list-inline-item cursor-pointer" (click)="downloadPdf()">
              <span class="p-l-10">
                <img src="../../assets/images/download.png">
              </span>
              <span class="font-color p-l-10 cursor-pointer">
                <b style="font-size:12px;">Download PDF</b>
              </span>
            </li>
            <li class="list-inline-item cursor-pointer" (click)="csvFormatFn()">
              <span class="p-l-10">
                <img src="../../assets/images/download.png">
              </span>
              <span class="font-color p-l-10 cursor-pointer">
                <b style="font-size:12px;">Download CSV</b>
              </span>
            </li>
          </ul>
        </span>
      </div>
    </div>

    <div id="active-users">

      <div *ngIf="spinner_loader" class="spinner_loading">
        <app-spinner></app-spinner>
      </div>

      <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
        <span class="spinner_inside">No data found</span>
      </div>

      <app-active-users *ngIf="getTab=='activeUser'"></app-active-users>
      <app-mode-of-delivery *ngIf="getTab=='modeDelivery'"></app-mode-of-delivery>
      <app-location *ngIf="getTab=='location'"></app-location>

      <!-- <div>
        <app-filter-widget [filtersInfo]="filtersData" (filterEvent)="getFilterObject($event)"></app-filter-widget>
      </div> -->
    </div>
  </div>
</div>
