// table {
//   thead {
//     th {
//       font-size: 14px;
//     }
//   }
//   tbody {
//     td {
//       font-size: 12px;
//     }
//   }
// }

.color {
  color: #5584ff
}
// td{
//   width: 20%;
// }
td:nth-child(3){
  width: 18%;
}
