<div class="org-performanace">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col" (click)="sortByFn('learnerName')">
          <span>Learner Name</span>
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col" (click)="sortByFn('pointsEarned')">Points Earned
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col" (click)="sortByFn('testPerformance')">Test Performance
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col" (click)="sortByFn('examScore')">Exam Score
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tableData of LearnersData | orderBy: sortOrder">
        <td scope="row">
          <span class="imgActive">
            <img src="/assets/images/user.png" alt="userImg">
            <i class="far fa-circle"></i>
          </span>
          <span class="userName">{{tableData.learnerName}}</span>
        </td>
        <td class="arrow-space">{{tableData.pointsEarned}}
          <span>
            <img src="assets/IconsSVGs/up_arrow.svg" alt="up_arrow">
          </span>
          <span>{{tableData.pointsEarnedSinceLastMonth}}</span>
        </td>
        <td>{{tableData.testPerformance}}</td>
        <td>
          {{parseFloat(tableData.examScore).toFixed(2)}}
        </td>
        <td>
          <span>
            <img src="/assets/IconsSVGs/congradulate.svg" alt="congrats" height="5" width="5">
          </span>
          <span class="color">{{tableData.actionMessage}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>