<ul class="list-inline">
  <li class="list-inline-item">
    <span>
      <img src="../../assets/IconsSVGs/SAve.svg">
    </span>
    <span class="font-color p-l-10">
      <b>Save this view</b>
    </span>
  </li>
  <li class="list-inline-item">
    <span>
      <img src="../../assets/IconsSVGs/mail.svg">
    </span>
    <span class="font-color p-l-10">
      <b>Email this report</b>
    </span>
  </li>
  <li class="list-inline-item">
    <span>
      <img src="../../assets/IconsSVGs/Download.svg">
    </span>
    <span class="font-color p-l-10">
      <b>Download this report</b>
    </span>
  </li>
</ul>
