@import "../../../app/shared/variables.scss";

.filter-widget {
  position: absolute;

  ul {
    padding: 0;
    margin: 0;

    .filter {
      background-color: #fff;
      color: $lightBlue;
      cursor: pointer;
    }

    li {
      position: relative;
      font-size: 12px;
      padding: 6px 32px 6px 6px;
      border: 1px solid $lightBlue;
      background-color: $lightBlue;
      color: white;
      margin-right: 6px;
      i {
        position: absolute;
        top: 7px !important;
        right: 6px;
        font-size: 16px;
      }

      .showFilter-list {
        position: absolute;
        top: 32px;
        background-color: #fff;
        padding: 8px;
        z-index: 1;
        width: 220px;
        box-shadow: 1px 1px 2px 0px $lightBlue;

        ul {
          max-height: 140px;
          padding: 0;
          overflow: scroll;
          overflow-x: hidden;
          margin-bottom: 6px;

          li {
            border: none;
            background-color: #fff;
            color: #333;

            input {
              margin-right: 4px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  .searchText {
    display: inline-flex;
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    width: 100px;
  }

  .viewDetails {
    position: absolute;
    right: 0;
    top: 50%;
    color: $lightBlue;
    font-size: 12px;
    font-weight: 600;

    i {
      padding: 0px 4px 2px 4px;
      border: 1px solid $lightBlue;
      border-radius: 50%;
      margin-left: 4px;
      font-weight: 600;
    }
  }
}

.filterComponent {
  width: calc(100% - 40px);
  min-height: 45px;
  bottom: 20px;
  padding-top: 12px;
  border-top: 1px dotted #ddd;

  ul {
    padding-right: 72px;

    li {
      .showFilter-list {
        left: 0px;
      }
    }
  }
}

.filterComponentDetails {
  right: 0;

  ul {
    li {
      .showFilter-list {
        right: 0px;
      }
    }

    .filter {
      background-color: $grayTwo;
    }
  }
}

.searchList {
  border: 0 !important;
  padding: 0 !important;
}

.search-org-user {
  position: relative;

  input {
    padding: 6px 12px;
    color: $lightBlue;
    border: 1px solid $lightBlue;
    width: 124px;
  }

  .search-icon {
    position: absolute;
    right: 0px;
    top: 0px;

    i {
      color: $lightBlue;
    }
  }
}

.search-org-user input::placeholder {
  color: $lightBlue;
}

.search-org-user input::-ms-input-placeholder {
  color: $lightBlue;
}

.search-org-user input::-ms-input-placeholder {
  color: $lightBlue;
}

.check-box {
  width: 12px;
  height: 12px;
  color: #ddd;
  background-color: #eee;
  border: 1px solid #ddd;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.checked-box {
  background-color: $lightOrange !important;
}

//dropdown
.dropdown-toggle::after {
  display: none;
}

.getFilter {
  cursor: pointer;

  i {
    color: $lightBlue;
    border-radius: 50%;
    border: 1px solid $lightBlue;
    padding: 3px;
    font-size: 8px !important;
    font-weight: 600;
  }
}

.filter-name {
  padding: 4px 0px;
}

.apply-filters {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
}

.apply-filters button {
  float: right;
}

.showFilter-list ul::-webkit-scrollbar {
  width: 4px;
}

.showFilter-list ul::-webkit-scrollbar-track {
  -webkit-box-shadow: #ccc;
  box-shadow: #ccc;
}

.showFilter-list ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 4px solid slategrey;
}

.closeDropdown {
  position: absolute;
  right: 8px;
  z-index: 1;
  cursor: pointer;

  .fa-times-circle {
    right: 16px !important;
  }
}

.list-inline-item {
  margin-bottom: 5px;
}
