<div class="filter-widget" [ngClass]="{'filterComponent': !filtersInfo.viewDetailsFilters, 'filterComponentDetails': filtersInfo.viewDetailsFilters}">
  <div>
    <ul class="float-left">

      <li class="list-inline-item searchList" *ngIf="filtersInfo.search">
        <div class="search-org-user">
          <span class="search-icon">
            <i class="fas fa-search"></i>
          </span>
          <input type="text" [ngModel]="serachName" (keyup)="searchItem($event)" placeholder="Search"> {{serachName}}
        </div>

        <div class="showFilter-list" *ngIf="displayDropdown">
          <span class="closeDropdown text-warning" (click)="closeDropDown()">
            <i class="far fa-times-circle fa-lg"></i>
          </span>
          <ul>
            <li class="list-unstyled">
              <span>
                <b>Select for</b> (Upto {{searchFilterData.searchCount}} people)
              </span>
              <div *ngIf="searchList.length>0">
                <div class="filter-name" *ngFor="let searchItem of searchList; index as i" (click)="selectSearchItem(searchItem)">
                  <span class="check-box" [ngClass]="{'checked-box': checkItemInApplied(filtersInfo.appliedFilters,searchItem) }"></span>
                  <!-- <span class="check-box" [ngClass]="{'checked-box': searchNames.includes(searchItem)}"></span> -->
                  <!-- <span>{{searchItem.teamName}} </span> -->
                  <span>{{searchItem[searchFilterData.searchBy]}} </span>
                </div>
              </div>
              <div *ngIf="noSearchResultFlag">
                <span>No search results found</span>
              </div>

            </li>
          </ul>
        </div>

      </li>

      <span *ngIf="filtersInfo.search">
        <li class="list-inline-item" *ngFor="let searchName of filtersInfo.appliedFilters; let i = index">
          <span>{{searchName[searchFilterData.searchBy]}} </span>
          <i class="far fa-times-circle cursor-pointer" (click)="removeSearchName(searchName,i);"></i>
        </li>
      </span>

      <li class="list-inline-item filter" *ngIf="filtersInfo.filters">
        <div class="filterSelect">
          <div class="getFilter" (click)="showFilter()">
            <span>{{filterDisplayName}}</span>
            <span>
              <i class="fas fa-plus"></i>
            </span>
          </div>
          <div *ngIf="displayDropdown" (clickOutside)="onClickedOutside($event)" [exclude]="'.filter,.filterSelect, .getFilter,.fa-plus'">
            <div class="showFilter-list">
              <span class="closeDropdown text-warning" (click)="closeDropDown()">
                <i class="far fa-times-circle fa-lg"></i>
              </span>
              <ul>
                <li class="list-unstyled" *ngFor="let filterType of filtersList; index as i">
                  <div class="boldText"> Select {{filterType.type}} </div>
                  <div class="filter-name" *ngFor="let filterObj of filterType.data; index as j" (click)="selectFilter(filterType, filterObj)">
                    <span class="check-box" [ngClass]="{'checked-box': checkItemInApplied(filtersInfo.appliedFilters,{name:filterObj.name})}"></span>
                    <span>{{filterObj.name}} </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <span *ngIf="filtersInfo.filters">

        <li class="list-inline-item applied-filter" *ngFor="let filter of filtersInfo.appliedFilters">
          <span> {{filter.name}} </span>
          <i class="far fa-times-circle cursor-pointer" (click)="removeFilter(filter)"></i>
        </li>

      </span>

    </ul>

    <div class="viewDetails" *ngIf="filtersInfo.viewDetails" (click)="routetoFullview()">
      <span class="text-primary float-right" class="cursor-pointer"> View Details</span>
      <span>
        <i class="fas fa-angle-right"></i>
      </span>
    </div>

  </div>
</div>