<div class="filterComponent" *ngIf="!viewDetailsDisplay">
  <div>
    <ul class="float-left">

      <li class="list-inline-item searchList" *ngIf="viewData.search">
        <div class="search-org-user">
          <span class="search-icon">
            <i class="fas fa-search"></i>
          </span>
          <input type="text" [ngModel]="serachName" (keyup)="searchItem($event)" placeholder="Search"> {{serachName}}
        </div>

        <div class="showFilter-list" *ngIf="displayDropdown">
          <span class="closeDropdown text-warning" (click)="closeDropDown()">
            <i class="far fa-times-circle fa-lg"></i>
          </span>
          <ul>
            <li class="list-unstyled">
              <span>
                <b>Select for</b> (Upto 3 people)
              </span>
              <div *ngIf="searchList.length>0">
                <div class="filter-name" *ngFor="let searchItem of searchList; index as i" (click)="selectSearchItem(searchItem)">
                  <span class="check-box" [ngClass]="{'checked-box': checkItemInApplied(searchNames,searchItem) }"></span>
                  <!-- <span class="check-box" [ngClass]="{'checked-box': searchNames.includes(searchItem)}"></span> -->
                  <!-- <span>{{searchItem.teamName}} </span> -->
                  <span>{{searchItem[searchFilterData.searchBy]}} </span>
                </div>
              </div>
              <div *ngIf="noSearchResultFlag">
                <span>No search results found</span>
              </div>

            </li>
          </ul>
        </div>

      </li>

      <li class="list-inline-item" *ngFor="let searchName of searchNames; let i = index">
        <!-- <span>{{searchName.teamName}}</span> -->
        <span>{{searchName[searchFilterData.searchBy]}} </span>
        <i class="far fa-times-circle cursor-pointer" (click)="removeSearchName(searchName,i);"></i>
      </li>

      <!-- <li class="list-inline-item" *ngFor="let searchItem of searchList; let i = index">
        <span>{{searchItem}}</span>
        <i class="far fa-times-circle cursor-pointer" (click)="removeFromFilterBody(filter,i);"></i>
      </li> -->

      <li class="list-inline-item filter" *ngIf="viewData.filters">
        <div class="filterSelect">
          <div class="getFilter" (click)="showFilter()">
            <span>{{filterDisplayName}}</span>
            <span>
              <!-- <i class="fas fa-plus-circle"></i> -->
              <i class="fas fa-plus"></i>
            </span>
          </div>
          <div *ngIf="displayDropdown">
            <div class="showFilter-list">
              <span class="closeDropdown text-warning" (click)="closeDropDown()">
                <i class="far fa-times-circle fa-lg"></i>
              </span>
              <ul>
                <li class="list-unstyled" *ngFor="let filter of filtersData; index as i">
                  <div class="boldText"> Select {{filter.type}} </div>
                  <div class="filter-name" *ngFor="let filterName of filter.data; index as j" (click)="selectFilter(filter, filterName)">
                    <span class="check-box" [ngClass]="{'checked-box': checkItemInApplied(appliedFilters,{name:filterName.name})}"></span>
                    <span>{{filterName.name}} </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <!-- <span *ngIf="filterArray">
        <li class="list-inline-item" *ngFor="let filter of filterArray; let i = index">
          <span>{{filter}}</span>
          <i class="far fa-times-circle cursor-pointer" (click)="removeFromFilterBody(filter,i);"></i>
        </li>
      </span> -->


      <li class="list-inline-item applied-filter" *ngFor="let filter of appliedFilters">
        <span> {{filter.name}} </span>
        <i class="far fa-times-circle cursor-pointer" (click)="removeFilter(filter)"></i>
      </li>

    </ul>

    <div class="viewDetails" *ngIf="viewData.viewDetails" (click)="routetoFullview()">
      <span class="text-primary float-right" class="cursor-pointer"> View Details</span>
      <span>
        <i class="fas fa-angle-right"></i>
      </span>
    </div>
  </div>
</div>
<div class="filterComponentDetails" *ngIf="viewDetailsDisplay">
  <ul class="float-left">
    <li class="list-inline-item filter" *ngIf="viewData.filters">
      <div class="filterSelect">
        <div class="getFilter" (click)="showFilter()">
          <span>{{filterDisplayName}}</span>
          <span>
            <i class="fas fa-plus"></i>
          </span>
        </div>
      </div>
      <div *ngIf="displayDropdown">
        <div class="showFilter-list" *ngIf="filtersData">
          <span class="closeDropdown text-warning" (click)="closeDropDown()">
            <i class="far fa-times-circle fa-lg"></i>
          </span>
          <ul>
            <li class="list-unstyled" *ngFor="let filter of filtersData; index as i">
              <div class="boldText"> Select {{filter.type}} </div>
              <div class="filter-name" *ngFor="let filterName of filter.data; index as j" (click)="selectFilter(filter, filterName)">
                <span class="check-box" [ngClass]="{'checked-box': filterArray.includes(filterName.name)}"></span>
                <span>{{filterName.name}} </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <span *ngIf="filterArray">
      <li class="list-inline-item filterName" *ngFor="let filter of filterArray; let i = index">
        <span>{{filter}}</span>
        <i class="far fa-times-circle cursor-pointer" (click)="removeFromFilterBody(filter,i);"></i>
      </li>
    </span>
  </ul>
</div>