<div class="dashboard fullviewComponent widget-row learner-performance-fullview" id="dashboard_part_one">
  <div class="row">
    <div class="widget-heading fullview-heading col-md-6">
      <span>
        <i class="fa fa-angle-left" routerLink="/"></i>
      </span>
      <span> Score Distribution </span>
    </div>
    <div class="col-md-6">
      <app-filter-widget [filtersInfo]="filtersData" (addFilterEmit)="addFilters($event)"></app-filter-widget>
    </div>
  </div>

  <div class="widget-block">

    <div class="graph-space">
      <div class="float-left form-inline">
        <span class="font-weight-bold">Display Graph for</span>
        <select class="custom-select w-90 m-l-8" [(ngModel)]="moduleName" (change)='changeModule(moduleName)' id="inputGroupSelect02">
          <option [value]="'test'">Test Scores</option>
          <option [value]="'quiz'">Quizzes</option>
          <option [value]="'assignment'">Assignments</option>
        </select>
      </div>

      <div *ngIf="spinner_loader_graph" class="spinner_loading">
        <app-spinner></app-spinner>
      </div>

      <div *ngIf="!spinner_loader_graph && noDataFlag_graph" class="spinner_loading">
        <span class="spinner_inside">No Graph data found</span>
      </div>

      <div class="col-md-12" *ngIf="!spinner_loader_graph && !noDataFlag_graph" appScoreChart [data]='dataSet'></div>

    </div>

    <div class="table-space">

      <div *ngIf="spinner_loader" class="spinner_loading">
        <app-spinner></app-spinner>
      </div>

      <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
        <span class="spinner_inside">No data found</span>
      </div>

      <div class="b-t-2">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">
                <span>
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                <span>
                  <input type="text" [(ngModel)]="searchString" placeholder="Learner Name" (keyup)="searchItem()">
                </span>
                <span (click)="sortByFn('learnerName')">
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </span>
              </th>
              <th scope="col" (click)="sortByFn('serialNumber')">Sl.No
                <span>
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </span>
              </th>
              <th scope="col" (click)="sortByFn('team')">Team
                <span>
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </span>
              </th>
              <th scope="col" (click)="sortByFn('batchName')">Batch
                <span>
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </span>
              </th>
              <th scope="col" (click)="sortByFn('scoreAvg')">Score Avg %
                <span>
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </span>
              </th>
              <th scope="col" (click)="sortByFn('totalAttempts')">Total Attempts
                <span>
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </span>
              </th>
              <th scope="col" (click)="sortByFn('examsAttempted')">Exams Attempted
                <span>
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </span>
              </th>
              <th scope="col" (click)="sortByFn('totalExams')">Total Exams
                <span>
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </span>
            </tr>
          </thead>
          <tbody *ngIf="moduleName == 'test'">
            <tr *ngFor="let testData of responseScoreDetails">
              <td class="">{{testData.learnerName}}</td>
              <td class="">{{testData.serialNumber}}</td>
              <td class="">{{testData.team}}</td>
              <td class="">{{testData.batchName}}</td>
              <td class="">{{testData.scoreAvg}}</td>
              <td class="">{{testData.totalAttempts}}</td>
              <td class="">{{testData.examsAttempted}}</td>
              <td class="">{{testData.totalExams}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="moduleName == 'quiz'">
            <tr *ngFor="let quizData of responseScoreDetails">
              <td class="">{{quizData.learnerName}}</td>
              <td class="">{{quizData.serialNumber}}</td>
              <td class="">{{quizData.team}}</td>
              <td class="">{{quizData.batchName}}</td>
              <td class="">{{quizData.scoreAvg}}</td>
              <td class="">{{quizData.totalAttempts}}</td>
              <td class="">{{quizData.examsAttempted}}</td>
              <td class="">{{quizData.totalExams}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="moduleName == 'assignment'">
            <tr *ngFor="let assignmentData of responseScoreDetails">
              <td class="">{{assignmentData.learnerName}}</td>
              <td class="">{{assignmentData.serialNumber}}</td>
              <td class="">{{assignmentData.team}}</td>
              <td class="">{{assignmentData.batchName}}</td>
              <td class="">{{assignmentData.scoreAvg}}</td>
              <td class="">{{assignmentData.totalAttempts}}</td>
              <td class="">{{assignmentData.examsAttempted}}</td>
              <td class="">{{assignmentData.totalExams}}</td>
            </tr>
          </tbody>
        </table>
        <app-paginate *ngIf="pagination.total_pages > 1" class="paginationSpace" [pageInfo]="pagination" (gotoPage)="gotoPage($event)"></app-paginate>
      </div>
    </div>
  </div>
</div>