<div class="dashboard fullviewComponent widget-row learner-performance-fullview">
  <div class="widget-heading row">
    <span>
      <i class="fas fa-angle-left" routerLink="/"></i>
    </span>
    <span> Score Distribution </span>
  </div>
  <div class="row widget-block">
    <b>Display Graph for </b>
    <span class="input-group">
      <select class="custom-select" [(ngModel)]="showDetails" id="inputGroupSelect02">
        <option [value]="'test'">Test Scores</option>
        <option [value]="'quiz'">Quizzes</option>
        <option [value]="'assignment'">Assignments</option>
      </select>
    </span>
    <!-- <div class="col-md-10" appScoreChart [data]='dataSet'>
    </div> -->
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">
            <span>
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <span class="text">Learner Name</span>
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col">Sl.No
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col">Team
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col">Batch
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col">Score Avg
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col">No of Re-Attempts
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col">Progress %
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="showDetails == 'test'">
        <tr *ngFor="let testData of responseScoreDetails">
          <td class="">{{testData.learnerName}}</td>
          <td class="">{{testData.serialNumber}}</td>
          <td class="">{{testData.team}}</td>
          <td class="">{{testData.batchName}}</td>
          <td class="">{{testData.scoreAvg}}</td>
          <td class="">{{testData.noOfAttempts}}</td>
          <td class="">{{testData.Progress}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="showDetails == 'quiz'">
        <tr *ngFor="let quizData of responseScoreDetails">
          <td class="">{{quizData.learnerName}}</td>
          <td class="">{{quizData.serialNumber}}</td>
          <td class="">{{quizData.team}}</td>
          <td class="">{{quizData.batchName}}</td>
          <td class="">{{quizData.scoreAvg}}</td>
          <td class="">{{quizData.noOfAttempts}}</td>
          <td class="">{{quizData.Progress}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="showDetails == 'assignment'">
        <tr *ngFor="let assignmentData of responseScoreDetails">
          <td class="">{{assignmentData.learnerName}}</td>
          <td class="">{{assignmentData.serialNumber}}</td>
          <td class="">{{assignmentData.team}}</td>
          <td class="">{{assignmentData.batchName}}</td>
          <td class="">{{assignmentData.scoreAvg}}</td>
          <td class="">{{assignmentData.noOfAttempts}}</td>
          <td class="">{{assignmentData.Progress}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>