<div class="goals-widget">
  <div class="bold-text col-md-12">
    <span class="text-primary font-size-14">
      <i class="fa fa-crosshairs" aria-hidden="true"></i>
    </span>
    <span class="heading-text m-l-5">Business Goals:</span>
    <span class="font-size-12">Gain in</span>
    <span class="font-size-12"> {{config?.businessGoal}}</span>
    <span class="text-primary font-size-12">in Customer Satisfaction Scores</span>
  </div>
  <div class="nop bold-text col-md-12 m-t-20">
    <span class="heading-text">Objective: </span>
    <span class="font-size-12">Train</span>
    <span> {{config?.objective}}</span>
    <span class="font-size-12">people in</span>
    <span class="text-primary" class="font-size-12">Customer Centricity</span>
  </div>
  <div class="row m-t-20">
    <div class="col-md-4">
      <span class="text-primary">
        <i class="fa fa-user" aria-hidden="true"></i>
      </span>
      <span>People Trained : </span>
      <span>{{config?.peopleTrained}}</span>
    </div>
    <div class="col-md-4">
      <span class="text-primary">
        <i class="fa fa-clock" aria-hidden="true"></i>
      </span>
      <span>Time Remaining :</span>
      <span> {{config?.timeRemaining}}</span>
    </div>
    <div class="col-md-4">
      <span>
        <i class="fa fa-hourglass" aria-hidden="true"></i>
      </span>
      <span>Status :</span>
      <span> {{config?.status}}</span>
    </div>
  </div>
</div>
