<div class="org-performanace">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col" (click)={}>Team Name
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">Completion %
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">Completed Programs
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">Team Size
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tableData of teamsData | slice:0:4 | orderBy: 'teamId'">
        <td scope="row">
          <span class="imgActive">
            <img src="/assets/images/user.png" alt="userImg">
            <i class="far fa-circle"></i>
          </span>
          <span class="userName">
            <b>{{tableData.teamName}}</b>
          </span>
        </td>
        <td>{{parseFloat(tableData.completion).toFixed(2)}}</td>
        <td>{{tableData.completedProgram}}</td>
        <td>{{tableData.teamsize}}</td>
        <td>
          <span>
            <img src="/assets/IconsSVGs/congradulate.svg" alt="congrats" height="15" width="15">
          </span>
          <span class="color cursor-pointer" data-toggle="modal" data-target="#exampleModal">{{tableData.actionMessage}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
