<div class="org-performanace">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>
          <span>Team Name</span>
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">Completion %
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">Completed Programs
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">Team Size
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tableData of teamsData">
        <td scope="row">
          <span>
            <img src="/assets/IconsSVGs/praveen.png" alt="userImg" height="20" width="20">
          </span>
          <span class="userName">
            <b>{{tableData.teamName}}</b>
          </span>
        </td>
        <td>{{tableData.completion}}</td>
        <td>{{tableData.completedPrograms}}</td>
        <td>{{tableData.teamsize}}</td>
        <td>
          <span>
            <img src="/assets/IconsSVGs/congradulate.svg" alt="congrats" height="15" width="15">
          </span>
          <span class="color">{{tableData.actionMessage}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
