<div class="org-performanace">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col" (click)="sortByFn('teamName')">Team Name
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col" (click)="sortByFn('completion')">Completion %
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col" (click)="sortByFn('completedProgram')">Completed Programs
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col" (click)="sortByFn('teamsize')">Team Size
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tableData of teamsData | orderBy: sortOrder">
        <td scope="row">
          <span class="imgActive">
            <img src="/assets/images/user.png" alt="userImg">
            <i class="far fa-circle"></i>
          </span>
          <span class="userName">
            <b>{{tableData.teamName}}</b>
          </span>
        </td>
        <td>{{parseFloat(tableData.completion).toFixed(2)}}</td>
        <td>{{tableData.completedProgram}}</td>
        <td>{{tableData.teamsize}}</td>
        <td>
          <span>
            <img src="/assets/IconsSVGs/congradulate.svg" alt="congrats" height="15" width="15">
          </span>
          <span class="color cursor-pointer" data-toggle="modal" data-target="#exampleModal">{{tableData.actionMessage}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Send a new message</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Send to</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Message to</label>
        <input type="textarea" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Save click')">Send Message</button>
    <button type="button" class="btn btn-secondary" (click)="c('Save click')">Cancel</button>
  </div>
</ng-template> -->

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Send an Alert</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Send to</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Message</label>
        <input type="textarea" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Save click')">Send Alert</button>
    <button type="button" class="btn btn-secondary" (click)="c('Save click')">Cancel</button>
  </div>
</ng-template> -->