<div>
  <div class="widget-heading">
    These items need your attention
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="widget-block">
        Faculty
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget-block">
        Mastery Insight
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget-block">
        Mastery Insight
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget-block">
        Mastery Insight
      </div>
    </div>
  </div>
</div>