.widget-heading {
    p {
        margin-bottom: 0px;
        padding-left: 6px;
    }
}
.attention-one-info{
    font-size: 12px;
    line-height: 24px;
}
.faculty-img img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 8px;
}