<div class="best-programs">
  <p class="font-weight-bold">
    Total Programs on-going
  </p>
  <div>
    <span>
      <i class="fas fa-sort-alpha-up"></i>
    </span>
    <span class="bigNumber"> 10 </span>
  </div>
  <div class="small">
    <span class="text-success"> 07 </span>
    <span>Programs are on schedule</span>
  </div>

  <div class="d-flex cards m-t-20">
    <div class="col-md-4">
      <app-programcard [programdata]='programdata1'></app-programcard>
    </div>
    <div class="col-md-4">
      <app-programcard [programdata]='programdata2'></app-programcard>
    </div>
    <div class="col-md-4">
      <app-programcard [programdata]='programdata3'></app-programcard>
    </div>
  </div>
</div>