<div class="widget-heading clearfix font-weight-bold">
  <p class="float-left">How are scores distributed?</p>
  <p class="float-right p-r-6" data-toggle="tooltip" data-placement="top" title="How are scores distributed?">
    <i class="fa fa-question-circle" aria-hidden="true"></i>
  </p>
</div>

<div class="widget-block">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link" class="cursor-pointer" [ngClass]="{'active':filtersData.currentModule == 'test'}" (click)="testScoreFn()">Test
          Scores
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class="cursor-pointer" [ngClass]="{'active':filtersData.currentModule == 'quiz'}" (click)="quizScoreFn()">Quizzes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class="cursor-pointer" [ngClass]="{'active':filtersData.currentModule == 'assignment'}"
          (click)="assignmentFn()">Assignments</a>
      </li>
    </ul>
    <div class="float-right widget-menu">
      <span data-toggle="tooltip" data-placement="top" title="{{tooltipText}}">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
      <ng-template #popcontent>
        <ul class="list-inline">
          <!-- <li class="list-inline-item cursor-pointer">
            <span>
              <img src="../../assets/images/save.png">
            </span>
            <span class="font-color p-l-10">
              <b>Save this view</b>
            </span>
          </li>
          <li class="list-inline-item cursor-pointer">
            <span>
              <img src="../../assets/images/mail.png">
            </span>
            <span class="font-color p-l-10">
              <b>Email this report</b>
            </span>
          </li> -->
          <li class="list-inline-item cursor-pointer" (click)="downloadPdf()">
            <span>
              <img src="../../assets/images/download.png">
            </span>
            <span class="font-color p-l-10">
              <b>Download this report</b>
            </span>
          </li>
        </ul>
      </ng-template>
      <span class="p-l-20" ngbDropdown placement="bottom-right">
        <i class="fa fa-ellipsis-v ellipse" aria-hidden="true" ngbDropdownToggle></i>
        <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-items">
          <!-- <li class="list-inline-item cursor-pointer">
              <span>
                <img src="../../assets/images/save.png">
              </span>
              <span class="font-color p-l-10 cursor-pointer">
                <b>Save this view</b>
              </span>
            </li>
            <li class="list-inline-item cursor-pointer" (click)="open(followUpContent)">
              <span>
                <img src="../../assets/images/mail.png">
              </span>
              <span class="font-color p-l-10 cursor-pointer">
                <b>Email this report</b>
              </span>
            </li> -->
          <li class="list-inline-item cursor-pointer" (click)="downloadPdf()">
            <span class="p-l-10">
              <img src="../../assets/images/download.png">
            </span>
            <span class="font-color p-l-10 cursor-pointer">
              <b style="font-size:12px;">Download this report</b>
            </span>
          </li>
        </ul>
      </span>
    </div>
  </div>

  <div id="score-distribution">

    <div *ngIf="spinner_loader" class="spinner_loading">
      <app-spinner></app-spinner>

    </div>

    <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
      <span class="spinner_inside">No data found</span>
    </div>

    <div *ngIf="responseData.length > 0 && !noDataFlag">
      <app-test-scores *ngIf="filtersData.currentModule == 'test'" [testData]="dataSet"></app-test-scores>
      <app-quiz *ngIf="filtersData.currentModule == 'quiz'" [testData]="dataSet"></app-quiz>
      <app-assignment *ngIf="filtersData.currentModule == 'assignment'" [testData]="dataSet"></app-assignment>
    </div>


    <app-filter-widget [filtersInfo]="filtersData" (addFilterEmit)="addFilters($event)"></app-filter-widget>
  </div>

</div>
