.headingText .nav-item .active {
  border-bottom: none;
}
.widget-heading {
  p {
    margin-bottom: 0px;
    padding-left: 6px;
  }
  i {
    color: #ff5722;
    right: 8px;
    top: 8px;
    font-size: 14px;
  }
}
