<div class="widget-heading clearfix">
  <p class="float-left">What are the best programs?</p>
  <p class="float-right p-r-6">
    <i class="fa fa-question-circle" aria-hidden="true"></i>
  </p>
</div>
<div class="widget-block">

  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link" class="active">Programs</a>
      </li>
    </ul>
  </div>

  <app-programs></app-programs>

  <!-- <div>
    <app-filter-widget [filtersInfo]="filtersData"></app-filter-widget>
  </div> -->

</div>