<div class="time-frame">
  <div class="row select-time-frame">
    <div class="col-md-7 col-7">
      <li class="list-inline-item select-time-frame">
        <b> Select a Time Frame </b>
      </li>
      <li class="list-inline-item">
        <app-mp-datepicker-range style="font-size: 12px;"></app-mp-datepicker-range>
      </li>
      <li class="list-inline-item selectCourse">
        <span class="labelName">
          <b>Course</b>
        </span>
        <select class="custom-select" [(ngModel)]="selectCourse" (change)="courseSelected(selectCourse)" id="selectCourse">
          <option style="color: #5584ff" value="All Courses">All Courses</option>
          <option class="course-item" *ngFor="let course of coursesData" value="{{course.courseName}}">{{course.courseName}}</option>
        </select>
      </li>
    </div>
    <div class="col-md-5 col-5 m-t-7">
      <ul class="list-inline report-menu">
        <li class="list-inline-item cursor-pointer" data-toggle="tooltip" data-placement="bottom" title="Save this view">
          <span>
            <img src="../../assets/IconsSVGs/SAve.svg">
          </span>
          <span class="font-color">Save this view</span>
        </li>
        <li class="list-inline-item cursor-pointer" data-toggle="tooltip" data-placement="bottom" title="Email this report">
          <span>
            <img src="../../assets/IconsSVGs/mail.svg">
          </span>
          <span class="font-color">Email this report</span>
        </li>
        <li ngbDropdown class="list-inline-item cursor-pointer d-inline-block">
          <span>
            <img src="../../assets/IconsSVGs/Download.svg">
          </span>
          <span class="font-color" id="dropdownBasic1" ngbDropdownToggle>
            Download this report
          </span>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item cursor-pointer">Download PDF</button>
            <a [attr.href]="downloadLink" class="dropdown-item cursor-pointer">Download CSV</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="course-selection">
    <ul class="list-inline">
      <li class="list-inline-item selectCourse">
        <span class="labelName">
          <b>Program</b>
        </span>
        <select class="custom-select" [(ngModel)]="selectProgram" (change)="changeProgram(selectProgram)" id="selectProgram">
          <option style="color: #5584ff" value="All Programs">All Programs</option>
          <option class="course-item" *ngFor="let program of programsData" value="{{program.id}}">{{program.name}}</option>
        </select>
      </li>

      <li class="list-inline-item selectCourse">
        <span class="labelName">
          <b>Course</b>
        </span>
        <select class="custom-select" [(ngModel)]="selectCourse" (change)="changeCourse(selectCourse)" id="selectCourse">
          <option style="color: #5584ff" value="All Courses">All Courses</option>
          <option class="course-item" *ngFor="let course of coursesData" value="{{course.id}}">{{course.name}}</option>
        </select>
      </li>

      <li class="list-inline-item selectCourse">
        <span class="labelName">
          <b>Batch</b>
        </span>
        <select class="custom-select" [(ngModel)]="selectBatch" (change)="changeBatch(selectBatch)" id="selectBatch">
          <option style="color: #5584ff" value="All Batches">All Batches</option>
          <option class="course-item" *ngFor="let batch of batchesData" value="{{batch.id}}">{{batch.name}}</option>
        </select>
      </li>

      <li class="list-inline-item selectCourse">
        <span class="labelName">
          <b>Section</b>
        </span>
        <select class="custom-select" [(ngModel)]="selectSection" (change)="changeSection(selectSection)" id="selectSection">
          <option style="color: #5584ff" value="All Sections">All Sections</option>
          <option class="course-item" *ngFor="let section of sectionsData" value="{{section.id}}">{{section.name}}</option>
        </select>
      </li>
      <li class="list-inline-item selectCourse">
        <button class=" btn-primary" (click)="applyPrograms()">Apply</button>
      </li>
    </ul>
  </div> -->
</div>