<div class="time-frame">
  <div class="">
    <ul class="list-inline">
      <li class="list-inline-item select-time-frame">
        <b> Select Time Frame </b>
      </li>
      <li class="list-inline-item">
        <app-mp-datepicker-range></app-mp-datepicker-range>
      </li>
      <li class="list-inline-item select-time-frame">
        <b>Select course</b>
      </li>
      <li class="list-inline-item selectCourse">
        <div ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-primary" ngbDropdownToggle>All Courses</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let courses of coursesData">{{courses.CourseName}}</button>
          </div>
        </div>
      </li>
      <div class="float-right m-t-7">
        <li class="list-inline-item cursor-pointer">
          <span>
            <img src="../../assets/IconsSVGs/SAve.svg">
          </span>
          <span class="font-color p-l-5">Save this view</span>
        </li>
        <li class="list-inline-item cursor-pointer">
          <span>
            <img src="../../assets/IconsSVGs/mail.svg">
          </span>
          <span class="font-color p-l-5">Email this report</span>
        </li>
        <li class="list-inline-item cursor-pointer">
          <span>
            <img src="../../assets/IconsSVGs/Download.svg">
          </span>
          <span class="font-color p-l-5">Download this report</span>
        </li>
      </div>
    </ul>
  </div>
</div>
