<div class="widget-block userstrained-component">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link">Goals: Users Trained</a>
      </li>
    </ul>
    <div>
      <span class="float-right widget-menu">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div *ngIf="!usersData" class="spinner_loading text-center">
    <i class="fas fa-spinner fa-spin fa-3x align-middle"></i>
  </div>
  <div appHalfdonutchart [data]="percentageChange" [expectedChange]="expectedChange"></div>
  <div *ngIf="usersData" class="row m-t-8">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="d-flex">
        <div class="bigNumber float-left" [ngClass]="{'big-positive-number': expectedChange, 'big-danger-class': !expectedChange}">{{percentageChange}}% </div>
        <div class="p-t-7 changeInNumberText">
          <div>
            <span class="small">
              <i class="fas" [ngClass]="{'fa-arrow-up changeNumber': expectedChange, 'fa-arrow-down changeNumberLow': !expectedChange}"></i>
            </span>
            <span [ngClass]="{'changeNumber': expectedChange, 'changeNumberLow': !expectedChange}"> Expected {{usersData.usersCompletedTrainingExpectedPercentage}}%.</span>
          </div>
          <div class="m-b-0 font-color">
            <span [ngClass]="{'changeNumber': expectedChange, 'changeNumberLow': !expectedChange}">{{usersData.usersTrained}} </span>
            of {{usersData.usersCompletedTraining}} users have been trained</div>
        </div>
      </div>
      <div class="m-t-10 m-t-8">of your goals has been met</div>
    </div>
  </div>
</div>