<div class="widget-block userstrained-component">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link">Goals: Users Trained</a>
      </li>
    </ul>
    <div>
      <span class="float-right widget-menu" data-toggle="tooltip" data-placement="top" title="Need Help?">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
    </div>
  </div>

  <div *ngIf="spinner_loader" class="spinner_loading">
    <i class="fas fa-spinner fa-spin fa-3x spinner_inside"></i>
  </div>

  <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
    <span class="spinner_inside">No data found</span>
  </div>

  <div [hidden]="spinner_loader" appHalfdonutchart [data]="percentageChange"></div>

  <div *ngIf="!spinner_loader && !noDataFlag" class="row m-t-8 text-fix-bottom">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="d-flex">
        <div class="bigNumber float-left" [ngClass]="{'big-positive-number': responseData.trainedPercentage>=50, 'big-danger-class': responseData.trainedPercentage<50}">{{responseData.trainedPercentage}}% </div>
        <div class="p-t-7 changeInNumberText">
          <div class="arrow-space">
            <span [ngClass]="{'changeNumber': responseData.trainedPercentage>=50, 'changeNumberLow': responseData.trainedPercentage<50}">
              Expected {{responseData.expectedtrainedPercentage}}%.</span>
          </div>
          <div class="m-b-0 font-color">
            <span [ngClass]="{'changeNumber': responseData.trainedPercentage>=50, 'changeNumberLow': responseData.trainedPercentage<50}">{{responseData.completedTraining}} </span>
            of {{responseData.totalLearners}} users have been trained</div>
        </div>
      </div>
      <div class="m-t-10 m-t-8">of your goals has been met</div>
    </div>
  </div>
</div>
