<div>
  <div class="widget-heading">
    How are my notifcations performing?
  </div>
  <div class="widget-block">
      <div class="headingText">
          <ul class="nav">
              <li class="nav-item">
                  <a class="nav-link" [ngClass]="{active:scheduled}" (click)="scheduledFn()">Scheduled Vs Delivered</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [ngClass]="{active:!scheduled}" (click)="seenFn()">Seen vs Responded</a>
              </li>
          </ul>
      </div>
      <app-scheduled-delivered></app-scheduled-delivered>
  </div>
</div>