<div class="widget-heading clearfix font-weight-bold">
  <p class="float-left">How are my notifications performing?</p>
  <p class="float-right p-r-6" data-toggle="tooltip" data-placement="top" title="Need Help?">
    <i class="fa fa-question-circle" aria-hidden="true"></i>
  </p>
</div>
<div class="widget-block">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':getTab == 'schedule'}" (click)="scheduledFn()">Scheduled Vs Delivered</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':getTab == 'seen'}" (click)="seenFn()">Seen vs Responded</a>
      </li>
    </ul>
    <div class="float-right widget-menu">
      <span data-toggle="tooltip" data-placement="top" title="Need Help?">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
      <!-- <ng-template #popcontent>
        [ngbPopover]="popcontent"
        <ul class="list-inline">
          <li class="list-inline-item">
            <span>
              <img src="../../assets/images/save.png">
            </span>
            <span class="font-color p-l-10">
              <b>Save this view</b>
            </span>
          </li>
          <li class="list-inline-item">
            <span>
              <img src="../../assets/images/mail.png">
            </span>
            <span class="font-color p-l-10">
              <b>Email this report</b>
            </span>
          </li>
          <li class="list-inline-item">
            <span>
              <img src="../../assets/images/download.png">
            </span>
            <span class="font-color p-l-10">
              <b>Download this report</b>
            </span>
          </li>
        </ul>
      </ng-template> -->
      <span class="p-l-20" placement="right">
        <i class="fa fa-ellipsis-v ellipse" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <!-- <app-scheduled-delivered ></app-scheduled-delivered>
  <app-seen-responded ></app-seen-responded> -->
  <!-- 
  <app-filter-widget [filtersInfo]="filtersData"></app-filter-widget> -->
</div>