<div class="dashboard content-fullview">
  <div class="widget-heading row">
    <span>
      <i class="fas fa-angle-left" routerLink="/"></i> How is content being consumed?
    </span>
  </div>
  <div class="widget-block">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Content Name</th>
          <th scope="col">Content Type</th>
          <th scope="col">Course Name</th>
          <th scope="col">Author</th>
          <th scope="col">Views</th>
          <th scope="col">Avg Rating</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let content of contentData">
          <th scope="row"> {{content.ContentName}} </th>
          <td> {{content.ContentType}} </td>
          <td> {{content.CourseName}} </td>
          <td> {{content.Author}} </td>
          <td> {{content.Views}} </td>
          <td>
            <span>
              <i class="far fa-star text-warning"></i>
            </span>
            <span> {{content.AvgRating}} </span>
          </td>
          <td> {{content.Duration}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>