.searchList {
  border: 0 !important;
  padding: 0 !important;
}

.search-org-user {
  position: relative;
  input {
    padding: 6px 12px;
    color: #5584ff;
    border-bottom: 1px solid #5584ff;
    width: 195px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .search-icon {
    position: absolute;
    right: 10px;
    top: 7px;
    i {
      color: #2196f3a8;
    }
  }
}

.search-org-user {
  position: relative;
  input :focus {
    padding: 6px 12px;
    color: #5584ff;
    border-bottom: 1px solid #5584ff;
    width: 195px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.search-org-user input::placeholder {
  color: #5584ff;
}

.search-org-user input::-ms-input-placeholder {
  color: #5584ff;
}

.search-org-user input::-ms-input-placeholder {
  color: #5584ff;
}

.p-t-7 {
  padding-top: 7px;
}

.p-t-3 {
  padding-top: 3px;
}

