<div class="dashboard fullviewComponent content-fullview" id="dashboard_part_one">
  <div class="row">
    <div class="widget-heading fullview-heading col-md-6">
      <span>
        <i class="fa fa-angle-left" routerLink="/"></i>
      </span>
      <span> How is content being consumed? </span>
    </div>
    <div class="col-md-6">
      <app-filter-widget [filtersInfo]="filtersData" (addFilterEmit)="addFilters($event)"></app-filter-widget>
    </div>
  </div>

  <div class="widget-block">
    <div *ngIf="spinner_loader" class="spinner_loading">
      <app-spinner></app-spinner>
    </div>

    <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
      <span class="spinner_inside">No data found</span>
    </div>

    <!-- <div *ngIf="spinner_loader" class="overlay"></div> -->

    <div>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">
              <span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <span>
                <input type="text" [(ngModel)]="searchString" id="searchString" placeholder="Content Name" (keyup)="searchItem()">
              </span>
              <span (click)="sortByFn('contentName')">
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('contentType')">Content Type
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('courseName')">Course Name
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('author')">Author
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('views')">Views
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('avgRating')">Avg Rating
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('avgDuration')">Avg Duration (Min)
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('duration')">Total Duration (Min)
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of contentData">
            <th scope="row"> {{content.contentName}} </th>
            <td> {{content.contentType}} </td>
            <td> {{content.courseName}} </td>
            <td> {{content.author}} </td>
            <td> {{content.views | customNumber}} </td>
            <td>
              <span>
                <i class="fa fa-star-o text-warning"></i>
              </span>
              <span> {{content.avgRating}} </span>
            </td>
            <td> {{content.avgDuration}} </td>
            <td> {{content.duration}} </td>
          </tr>
        </tbody>
      </table>

      <app-paginate *ngIf="pagination.total_pages > 1" class="paginationSpace" [pageInfo]="pagination" (gotoPage)="gotoPage($event)"></app-paginate>

    </div>
  </div>
</div>
