<div class="widget-block user-component">
  <div class="headingText">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active">Active Users</a>
      </li>
    </ul>
  </div>
  <div class="userImages">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg" alt="batman">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg" alt="batman">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg" alt="batman">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg" alt="batman">
  </div>
  <div>
    <div>
      <div class="bigNumber float-left">{{userData.activeUsers}}</div>
      <div class="small">
        <div class="">
          <span class="changeNumber">
            <i class="fas fa-arrow-up"></i> {{userData.changeInUsers}} </span> Users </div>
        <div class="">since last month</div>
      </div>
    </div>
    <div class="boldText">People are currently active</div>
  </div>
  <br>
  <div>
    <div>
      <div class="bigNumber float-left">{{userData.peopleCurrentlyEnrolled}}</div>
      <div class="">
        <div class="">
          <span class="changeNumber">
            <i class="fas fa-arrow-up"></i> {{userData.usersSinceLastMonth}} </span> Users </div>
        <div class="">since last month</div>
      </div>
    </div>
    <div class="boldText">People are currently enrolled</div>
  </div>
</div>