<div class="widget-block user-component">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link">Active Users</a>
      </li>
    </ul>
    <div>
      <span class="float-right">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div class="userImages">
    <div class="imgActive">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg" alt="batman">
      <i class="far fa-circle"></i>
    </div>
    <div class="imgActive">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg" alt="batman">
      <i class="far fa-circle"></i>
    </div>
    <div class="imgActive">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg" alt="batman">
      <i class="far fa-circle"></i>
    </div>
    <div class="imgActive">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Batman-BenAffleck.jpg/200px-Batman-BenAffleck.jpg" alt="batman">
      <i class="far fa-circle"></i>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div>
        <span class="bigNumber float-left">{{userData.activeUsers}}</span>
        <div class="small-font">
          <span class="small">
            <i class="fas fa-arrow-up changeNumber"></i>
          </span>
          <span class="changeNumber"> {{userData.changeInUsers}}</span>
          <span class="font-color"> Users </span>
          <p class="font-color">since last month</p>
        </div>
        <p class="boldText m-t-10">People are currently active</p>
      </div>
      <div>
        <span class="bigNumber float-left">{{userData.peopleCurrentlyEnrolled}}</span>
        <div class="small-font">
          <span class="small">
            <i class="fas fa-arrow-up changeNumber"></i>
          </span>
          <span class="changeNumber">{{userData.usersSinceLastMonth}}</span>
          <span class="font-color"> Users </span>
          <p class="font-color">since last month</p>
        </div>
        <p class="boldText m-t-10">People are currently enrolled</p>
      </div>
    </div>