.user-component {
  .userImages {
    margin-bottom: 8px;
    display: flex;
  }
  .imgActive {
    position: relative;
    float: left;
    img {
      height: 56px;
      width: 56px;
      border-radius: 50%;
      margin-left: -10px;
      border: 1px solid #fff;
      z-index: 0;
    }
    i {
      position: absolute;
      bottom: 0;
      right: 0;
      background: linear-gradient(to top left, #00ff00 0%, #ccff33 100%);
      // background-color: #befd45d9;
      border-radius: 50%;
      color: #fff;
      font-size: 18px;
    }
  }
  .m-t-5 {
    margin-top: -5px !important;
  }
}

.userImages .imgActive:first-child img {
  margin-left: 0;
}

// @media (min-width: 1024px) {
//   .user-component {
//     .userImages {
//       img {
//         height: 40px;
//         width: 40px;
//       }
//     }
//   }
// }
