<div class="widget-block user-component">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link">Active Users</a>
      </li>
    </ul>
    <div>
      <span class="float-right widget-menu" data-toggle="tooltip" data-placement="top" title="Active Users">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
    </div>
  </div>

  <div *ngIf="spinner_loader" class="spinner_loading">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
    <span class="spinner_inside">No data found</span>
  </div>

  <div *ngIf="!spinner_loader && !noDataFlag">
    <div *ngIf='responseData.activeUsers != 0' class="userImages">
      <div class="imgActive" *ngFor="let img of userImages">
        <img [src]="img" alt="user">
        <i class="fa fa-circle-o" aria-hidden="true"></i>
      </div>
    </div>
    <div *ngIf='responseData.activeUsers == 0'>
      <p class="no-active-users">No Active Users</p>
    </div>
    <div class="row text-fix-bottom">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div>
          <app-users-data [config]="activeUserCount"></app-users-data>
        </div>
        <div>
          <app-users-data [config]="enrolledConfig"></app-users-data>
        </div>
      </div>
    </div>
  </div>
</div>
