<div class="org-performanace">
  <p>
    <b>View performance across quizzes </b>
  </p>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col" (click)={}>Quiz Name
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">% Attempted
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">No. Passed
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">No. Failed
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
        <th scope="col">
          %Avg. Score
          <span>
            <i class="fa fa-sort" aria-hidden="true"></i>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tableData of teamsData | slice:0:4 ">
        <td scope="row">

          {{tableData.teamName}}

        </td>
        <td>{{parseFloat(tableData.completion)}}</td>
        <td>{{tableData.completedProgram}}</td>
        <td>{{tableData.teamsize}}</td>
        <td>
          <span class="color cursor-pointer" data-toggle="modal" data-target="#exampleModal">{{tableData.actionMessage}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
