.graph-badges .col-md:nth-child(1) i {
  color: #ffd630;
  background-color: #ffd630;
}
.graph-badges .col-md:nth-child(2) i {
  color: #f77f6c;
  background-color: #f77f6c;
}
.graph-badges .col-md:nth-child(3) i {
  color: #5584ff;
  background-color: #5584ff;
}
