<div class="header-class">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="my-2 my-lg-0">
      <a class="navbar-brand float-left" href="#">
        <img src="https://edunxt.smude.edu.in/sites/all/themes/edunxt/images/edunxt-logo.png" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item p-l-10">
          <span>
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
          <span class="p-l-5">Search</span>
        </li>
        <li class="nav-item p-l-10">
          <span>
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
          <span class="p-l-5">Calendar</span>
        </li>
        <li class="nav-item p-l-10">
          <span>
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          </span>
          <span class="p-l-5">Notifications</span>
        </li>
        <li class="nav-item p-l-10" style="border-left:1px solid black;margin-left:10px;">
          <span>
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          </span>
          <span>User</span>
        </li>
      </ul>
    </div>
  </nav>

  <div class="welcome-user">
    <div class="float-left">
      <img class="" src="/assets/images/user.png" alt="" height="68px">
    </div>
    <div class="float-left">
      <div class="header-text">Hello User,</div>
      <div class="description">Let's take a look at how your organization is learning.</div>
    </div>
  </div>
</div>