<div class="location">
  <p>
    <b>Activity by Location</b>
  </p>

  <div *ngIf="!locationData" class="spinner_loading text-center">
    <i class="fas fa-spinner fa-spin fa-3x align-middle"></i>
  </div>

  <div class="row" *ngIf="locationData">
    <div class="col-md-7">
      <div class="locationGraph">
        <div id="regions_div"></div>
      </div>
    </div>
    <div class="col-md-5">
      <table class="table table-borderless">
        <tbody>
          <tr *ngFor="let locationData of locationData">
            <td>
              <span>
                <i class="far fa-circle" style="color: #5584ff; background-color: #5584ff"></i>
              </span>
              <span class="font-weight-bold"> {{locationData.locationName}} </span>
            </td>
            <td class="users">
              <p>
                <span class="font-weight-bold"> {{locationData.totalActiveUsers}} </span>
                <span> Users </span>
              </p>
              <p class="arrow-text">
                <span class="font-weight-bold" [ngClass]="{'text-success': locationData.activeUsersSinceLastMonth >50 , 'text-danger': locationData.activeUsersSinceLastMonth <=50}">
                  <span>
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                  </span>
                  <span>{{locationData.activeUsersSinceLastMonth}}</span>
                </span>
                <span> Since Last Month</span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>