<div class="location">
  <p>
    <b>Activity by Location</b>
  </p>

  <div *ngIf="spinner_loader" class="spinner_loading">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
    <span class="spinner_inside">No data found</span>
  </div>


  <div class="row">
    <div class="col-md-7">
      <div class="locationGraph">
        <div id="regions_div"></div>
      </div>
    </div>
    <div class="col-md-5">
      <table class="table table-borderless">
        <tbody>
          <tr *ngFor="let locationData of responseData | slice:0:3">
            <td>
              <span class="font-weight-bold f-12 text-transform"> {{locationData.location}} </span>
            </td>
            <td class="users">
              <p>
                <span class="font-weight-bold"> {{parseFloat(locationData.learnerCount)}} </span>
                <span> Users </span>
              </p>
              <p class="arrow-text">
                <span class="font-weight-bold" [ngClass]="{'text-success': locationData.facultyCount >50 , 'text-danger': locationData.facultyCount <=50}">
                  <span>
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                  </span>
                  <span> {{ parseFloat(locationData.facultyCount)}} </span>
                </span>
                <span> Since Last Month</span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
