<div class="location">
  <p>
    <b>Activity by Location</b>
  </p>

  <div class="row">
    <div class="col-md-7">
      <div class="locationGraph">
        <div id="regions_div"></div>
      </div>
    </div>
    <div class="col-md-5">
      <table class="table table-borderless">
        <tbody>
          <tr *ngFor="let locationData of responseData | slice:0:3">
            <td>
              <span>
                <i class="far fa-circle location-name"></i>
              </span>
              <span class="font-weight-bold"> {{locationData.location}} </span>
            </td>
            <td class="users">
              <p>
                <span class="font-weight-bold"> {{locationData.learnerCount}} </span>
                <span> Users </span>
              </p>
              <p class="arrow-text">
                <span class="font-weight-bold" [ngClass]="{'text-success': locationData.facultyCount >50 , 'text-danger': locationData.facultyCount <=50}">
                  <span>
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                  </span>
                  <span>{{locationData.facultyCount}}</span>
                </span>
                <span> Since Last Month</span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>