.location {
  p {
    margin-left: 5px !important;
  }
  .users {
    p {
      margin-left: 0px !important;
      margin-bottom: 0px !important;
    }
    .arrow-text {
      font-size: 10px;
    }
  }
}
