<div class="org-performanace">
  <div>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col" (click)="sortByFn('trainerName')">Trainer Name
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col" (click)="sortByFn('trainingsConducted')">Trainings Conducted
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col" (click)="sortByFn('peopleTrained')">People Trained
            <span>
              <i class="far fa-question-circle questionmark"></i>
            </span>
          </th>
          <th scope="col" (click)="sortByFn('avgRating')">Avg. Rating
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tableData of trainersData | orderBy: sortOrder">
          <td scope="row">
            <span class="imgActive">
              <img src="/assets/images/user.png" alt="userImg">
              <i class="far fa-circle"></i>
            </span>
            <b class="userName">{{tableData.trainerName}}</b>
          </td>
          <td>{{tableData.trainingsConducted}}</td>
          <td>{{tableData.peopleTrained}}</td>
          <td>
            <span>
              <i class="far fa-star text-warning"></i>
            </span> {{tableData.avgRating}}
          </td>
          <td>

            <span class="action_icon positive-number" *ngIf="tableData.avgRating > 3.5">
              <img src="/assets/IconsSVGs/congradulate.svg" alt="congrats" height="15" width="15"> Congratulate
            </span>

            <span class="negative-number" *ngIf="tableData.avgRating <= 3.5">
              <i class="fas fa-exclamation-triangle"></i> Follow up
            </span>

            <!-- <span *ngIf="tableData.avgRating>3.5">
              <i class="fas fa-exclamation-triangle"></i> Congratulate
            </span>

            <span class="action_icon" *ngIf="tableData.avgRating<=3.5">
              <img src="/assets/IconsSVGs/congradulate.svg" alt="congrats" height="15" width="15"> Follow up
            </span> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>