<div class="org-performanace">
  <!-- <div class="search-org-user">
    <span class="serach-icon">
      <i class="fas fa-search"></i>
    </span>
    <input type="text" placeholder="search for a trainer">
  </div> -->
  <div>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Trainer Name
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col">Trainings Conducted
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col">People Trained
            <span>
              <i class="far fa-question-circle text-danger"></i>
            </span>
          </th>
          <th scope="col">Avg. Rating
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tableData of trainersData | slice:0:4">
          <td scope="">
            <span>
              <img src="/assets/IconsSVGs/praveen.png" alt="userImg" height="20" width="20">
            </span>
            <span class="userName">{{tableData.trainerName}}</span>
          </td>
          <td class="text-danger">{{tableData.trainingsConducted}}</td>
          <td class="text-danger">{{tableData.peopleTrained}}</td>
          <td class="">
            <span>
              <i class="far fa-star text-warning"></i>
            </span> {{tableData.avgRating}}
          </td>
          <td class="text-danger">
            <span>
              <i class="fas fa-exclamation-triangle"></i>
            </span> {{tableData.actionMessage}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>