<div class="org-performanace">
  <div>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col" (click)="sortByFn('trainerName')">Trainer Name
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col" (click)="sortByFn('trainingsConducted')">Trainings Conducted
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col" (click)="sortByFn('peopleTrained')">People Trained
            <span>
              <i class="far fa-question-circle questionmark"></i>
            </span>
          </th>
          <th scope="col" (click)="sortByFn('avgRating')">Avg. Rating
            <span>
              <i class="fa fa-sort" aria-hidden="true"></i>
            </span>
          </th>
          <th scope="col">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tableData of trainersData | orderBy: sortOrder">
          <th scope="">
            <span class="imgActive">
              <img src="/assets/images/user.png" alt="userImg">
              <i class="far fa-circle"></i>
            </span>
            <span class="userName">{{tableData.trainerName}}</span>
          </th>
          <td class="text">{{tableData.trainingsConducted}}</td>
          <td class="text">{{tableData.peopleTrained}}</td>
          <td class="">
            <span>
              <i class="far fa-star text-warning"></i>
            </span> {{tableData.avgRating}}
          </td>
          <td class="text">
            <span>
              <i class="fas fa-exclamation-triangle"></i>
            </span> {{tableData.actionMessage}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>