$white: #ffffff;
$black:#000000;
$blue: #0146f9;
$lightBlue: #5584ff;
$white: #ffffff;
$black: #262626;
$green: #23b14d;
$lightGreen: #39ea37;
$orange: #ff4e00;
$lightOrange: #ffd630;
$pink: #f77f6c;
$gray: #eaeaea;
$darkGray: #707070;
$grayOne: #f6f6f6;
$grayTwo: #eef2f5;
$grayThree: #e9e9e9;