.widget-heading {
  p {
    margin-bottom: 0px;
    padding-left: 6px;
  }
  i {
    color: #ff5722;
    right: 8px;
    top: 8px;
    font-size: 14px;
  }
}

.headingText {
  .nav-link {
    font-weight: bold;
  }
}

.list-inline {
  padding-left: 0px;
  width: 170px;
}

.dropdown-toggle::after{
  display: none;
}
