<div class="widget-heading row font-weight-bold">
  <p>
    Learning activities at a glance
  </p>
</div>
<div class="activity-widgets d-flex w-100">

  <div class="col-md-3 col-sm-6 col-xs-12">
    <app-facultyperformance></app-facultyperformance>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <app-facultylearnerprogress></app-facultylearnerprogress>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <app-outliers></app-outliers>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <app-feedback></app-feedback>
  </div>
</div>
