<div class="time-frame">
  <div class="">
    <ul class="list-inline">
      <li class="list-inline-item select-time-frame">
        <b> Select Time Frame </b>
      </li>
      <li class="list-inline-item selectDate">
        <!-- <span> {{ today | date }} - {{ today | date }}</span> -->
        <span class="calender-span">
          <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" />
          <!-- <img src="../../assets/IconsSVGs/calender.svg" class="calender"> -->
        </span>
      </li>
      <li class="list-inline-item select-time-frame">
        <b>Select course</b>
      </li>
      <li class="list-inline-item selectCourse">
        <select name="selectCourse">
          <option value="">All Courses</option>
          <option value="">Bio Science</option>
          <option value="">Molecular Chemistry</option>
        </select>
      </li>
      <div class="float-right">
        <li class="list-inline-item cursor-pointer">
          <span>
            <img src="../../assets/IconsSVGs/SAve.svg">
          </span>
          <span class="font-color p-l-5">Save this view</span>
        </li>
        <li class="list-inline-item cursor-pointer">
          <span>
            <img src="../../assets/IconsSVGs/mail.svg">
          </span>
          <span class="font-color p-l-5">Email this report</span>
        </li>
        <li class="list-inline-item cursor-pointer">
          <span>
            <img src="../../assets/IconsSVGs/Download.svg">
          </span>
          <span class="font-color p-l-5">Download this report</span>
        </li>
      </div>
    </ul>
  </div>
</div>
