<div class="widget-heading row font-weight-bold">
  <p>
    Learning activities at a glance
  </p>
</div>
<div class="activity-widgets d-flex w-100">
  <!-- [userElement]="responseData.activeUsers" [imageElement]="responseImageData" -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <app-users></app-users>
  </div>
  <!-- [engageData]="responseData.learnerEngagement" [totalUsers]="responseData.activeUsers" -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <app-engagement></app-engagement>
  </div>
  <!-- [paceDataElement]="responseData.learnerPace" -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <app-pace></app-pace>
  </div>
  <!-- [feedbackDataElement]="responseData.feedback" -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <app-feedback></app-feedback>
  </div>
  <!-- [usersData]="responseGoalsData.usersTrained" -->
  <!-- <div class="col-md-3 col-sm-6 col-xs-12">
    <app-userstrained></app-userstrained>
  </div> -->
  <!-- [timeData]="responseGoalsData.timeSpent" -->
  <!-- <div class="col-md-3 col-sm-6 col-xs-12">
    <app-timespent></app-timespent>
  </div> -->
</div>
