.widget-heading {
  // color: #707070;
  p {
    margin-bottom: 0px;
    padding-left: 6px;
  }
}

.activity-widgets {
  overflow-x: auto;
  overflow-y: hidden;
}

.activity-widgets .col-md-3 {
  padding: 0;
}
