<div class="widget-heading row">
  Learning activities at a glance
</div>
<div class="row">
  <div class="col-md-3">
    <app-users 
    *ngFor="let userData of activeUsers"
    [userElement]="userData"></app-users>
  </div>
  <div class="col-md-3">
    <app-engagement *ngFor="let engagementData of learnerEngagement"
    [engageData]="engagementData"></app-engagement>
  </div>
  <div class="col-md-3">
    <app-pace *ngFor="let paceData of learnerPace"
    [paceDataElement]="paceData"></app-pace>
  </div>
  <div class="col-md-3">
    <app-feedback *ngFor="let feedbackData of feedback"
    [feedbackDataElement]="feedbackData"></app-feedback>
  </div>
</div>