<div>
  <div class="learnerPaceText">
    <span>View learner performance across </span>
    <span class="text-primary font-weight-bold"> Batch 1</span>
  </div>
  <div id="learnerPerformanceBig"></div>
  <div class="row graph-badges">
    <div class="col-md-4">
      <i class="far fa-circle" style="color: #F77F6C; background-color: #F77F6C"></i> Excelling
      <div>43</div>
    </div>
    <div class="col-md-4">
      <i class="far fa-circle" style="color: #5584FF; background-color: #5584FF"></i> Passing
      <div>334</div>
    </div>
    <div class="col-md-4">
      <i class="far fa-circle" style="color: #23B14D; background-color: #23B14D"></i> Struggling
      <div>45</div>
    </div>
  </div>
</div>