<div>
  <div class="learnerPaceText">
    <span>View learner performance across </span>
    <span class="text-primary font-weight-bold"> Batch </span>
  </div>
  <div *ngIf="!nodataFlag" appDonutChart [data]="chartValues"></div>
  <div *ngIf="!nodataFlag" class="row graph-badges">
    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
      <i class="fa fa-circle excelling" aria-hidden="true"></i>
      <span class="text-font"> Excelling</span>
      <p> {{performanceData?.excelling | customNumber}} </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
      <i class="fa fa-circle passing" aria-hidden="true"></i>
      <span class="text-font"> Passing</span>
      <p> {{performanceData?.passing | customNumber}} </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
      <i class="fa fa-circle struggling" aria-hidden="true"></i>
      <span class="text-font"> Struggling</span>
      <p> {{performanceData?.struggling | customNumber}} </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
      <i class="fa fa-circle haveNotStarted" aria-hidden="true"></i>
      <span class="text-font"> Haven't Started</span>
      <p> {{performanceData?.haveNotStarted | customNumber}} </p>
    </div>
  </div>
</div>
