.graph-badges {
  text-align: center;
  margin-top: 12px;
  i {
    border-radius: 50%;
    border: none;
  }
}

//performance batches
.excelling {
  color: #f77f6c;
  background-color: #f77f6c;
}

.passing {
  color: #5584ff;
  background-color: #5584ff;
}

.struggling {
  color: #ffd630;
  background-color: #ffd630;
}
