<div class="time-frame">
  <div class="row">
    <div class="col-md-6 col-12">
      <ul class="list-inline">
        <li class="list-inline-item select-time-frame">
          <b> Select a Time Frame </b>
        </li>
        <li class="list-inline-item">
          <app-mp-datepicker-range style="font-size: 12px;"></app-mp-datepicker-range>
        </li>
        <li class="list-inline-item select-time-frame">
          <b>Select a Course</b>
        </li>
        <li class="list-inline-item selectCourse">
          <select class="custom-select" [(ngModel)]="selectCourse" (change)="changeCourse(selectCourse)" id="selectCourse">
            <option style="color: #5584ff" value="All Courses">All Courses</option>
            <option class="course-item" *ngFor="let courses of coursesData" value="{{courses.courseName}}">{{courses.courseName}}</option>
          </select>
        </li>
      </ul>
    </div>
    <div class="col-md-6 col-12 m-t-7">
      <ul class="list-inline report-menu">
        <li class="list-inline-item cursor-pointer" data-toggle="tooltip" data-placement="bottom" title="Save this view">
          <span>
            <img src="../../assets/IconsSVGs/SAve.svg">
          </span>
          <span class="font-color p-l-5">Save this view</span>
        </li>
        <li class="list-inline-item cursor-pointer" data-toggle="tooltip" data-placement="bottom" title="Email this report">
          <span>
            <img src="../../assets/IconsSVGs/mail.svg">
          </span>
          <span class="font-color p-l-5">Email this report</span>
        </li>
        <li class="list-inline-item cursor-pointer" data-toggle="tooltip" data-placement="bottom" title="Download this report">
          <span>
            <img src="../../assets/IconsSVGs/Download.svg">
          </span>
          <span class="font-color p-l-5">Download this report</span>
        </li>
      </ul>
    </div>
  </div>
</div>