<div class="time-frame">
  <div class="">
    <ul class="list-inline">
      <li class="list-inline-item select-time-frame m-l-38">
        <b> Select a Time Frame </b>
      </li>
      <li class="list-inline-item">
        <app-mp-datepicker-range></app-mp-datepicker-range>
      </li>
      <li class="list-inline-item select-time-frame">
        <b>Select a course</b>
      </li>
      <li class="list-inline-item selectCourse">
        <select class="custom-select" [(ngModel)]="selectCourse" (change)="changeCourse(selectCourse)" id="selectCourse">
          <!-- <option selected value="defaultAllCourse" class="course-item">All Courses</option> -->
          <option class="course-item" *ngFor="let courses of coursesData" value="{{courses.courseId}}">{{courses.courseName}}</option>
        </select>
        <!-- <span class="input-group">
          <select class="custom-select" [(ngModel)]="selectCourse" id="inputGroupSelect02">
            <option value="defualtAllCourse" style="color: red" class="course-item">All Courses</option>
            <option *ngFor="let courses of coursesData" [value]="{{courses.id}}">{{courses.courseName}}</option>
          </select>
        </span> -->
      </li>
    </ul>
    <div class="float-right m-t-7">
      <ul class="list-inline">
        <li class="list-inline-item cursor-pointer">
          <span>
            <img src="../../assets/IconsSVGs/SAve.svg">
          </span>
          <span class="font-color p-l-5">Save this view</span>
        </li>
        <li class="list-inline-item cursor-pointer">
          <span>
            <img src="../../assets/IconsSVGs/mail.svg">
          </span>
          <span class="font-color p-l-5">Email this report</span>
        </li>
        <li class="list-inline-item cursor-pointer">
          <span>
            <img src="../../assets/IconsSVGs/Download.svg">
          </span>
          <span class="font-color p-l-5">Download this report</span>
        </li>
      </ul>
    </div>
  </div>
</div>
