.time-frame {
  display: flex;
  padding: 12px 36px 0px 0px;
  box-shadow: 1px 1px #ccc;
  background-color: #fff;
  ul {
    margin: 0;
    display: inline-block;
    li {
      margin-right: 10px;
      img {
        height: 16px;
        width: 16px;
      }
    }
    .select-time-frame {
      color: #262626 !important;
    }
    .m-l-38 {
      margin-left: 38px;
    }
  }
  .m-t-7 {
    margin-top: 7px;
    display: inline-block;
    .p-l-5 {
      padding-left: 5px;
    }
  }
}

.selectCourse {
  select {
    color: #5584ff;
    border: 1px solid #5584ff;
    padding: 9px 6px;
    option {
      color: #5584ff;
    }
  }
  .course-item {
    border-bottom: 1px solid #eee;
    padding-top: 2px;
  }
}

@media (max-width: 576px) {
  .time-frame {
    padding: 8px 16px;
  }
}
