<div class="dashboard">

  <div class="widget-row">
    <app-facultyactivitywidget></app-facultyactivitywidget>
  </div>

  <div class="widget-row">
    <div class="row">

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-active-user-widget></app-active-user-widget>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-learners-track-widget></app-learners-track-widget>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-learnersquiz></app-learnersquiz>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-scores-distribution-widget></app-scores-distribution-widget>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-courseinsight></app-courseinsight>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-faculty-attention-widget></app-faculty-attention-widget>
      </div>

    </div>
  </div>
</div>
