<div class="widget-block">
  <div class="feedback">
    <div class="row">
      <div class="col-md-6">
        <i *ngIf="happy" class="far fa-smile fa-7x"></i>
        <i *ngIf="!happy" class="far fa-meh fa-7x"></i>
      </div>
      <div class="col-md-6">
        <div>
          <div class="bigNumber float-left">60%</div>
          <div class="small">
            <div class="">
              <span class="changeNumber">
                <i class="fas fa-arrow-up"></i> by 5% </span> Users </div>
          </div>
        </div>
        <div class="boldText">Learner Satisfaction</div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div>
          <div class="bigNumber float-left text-danger">4.5</div>
          <div class="small">
            <div class="">
              <span class="changeNumber">
                <i class="fas fa-arrow-up"></i> by 0.2% </span> Users </div>
          </div>
        </div>
        <div class="boldText">Trainer Rating</div>
      </div>
      <div class="col-md-6">
        <div>
          <div class="bigNumber float-left">4.6</div>
          <div class="small">
            <div class="">
              <span class="changeNumber">
                <i class="fas fa-arrow-up"></i> by 5% </span> Users </div>
          </div>
        </div>
        <div class="boldText">Content Rating</div>
      </div>
    </div>
  </div>
</div>