.feedback-emoji {
    padding: 12px;
    margin-left: -10px;
    margin-right: 10px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-7 {
    padding-top: 7px !important;
    font-size: 12px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-r-3 {
    margin-right: 3px;
}

.danger-class {
    color: #FF4E00;
}