<div class="widget-block feedback-component">
  <div class="headingText">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active">Feedback</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6 feedback-emoji">
      <i *ngIf="happy" class="far fa-smile fa-7x"></i>
      <i *ngIf="!happy" class="far fa-meh fa-7x"></i>
    </div>
    <div class="col-md-6">
      <div>
        <div class="bigNumber float-left"> {{feedbackDataElement.learnerSatisfaction}} %</div>
        <div class="small">
          <div class="">
            <span class="changeNumber">
              <i class="fas fa-arrow-up"></i> by {{feedbackDataElement.learnerSatisfactionChange}} % </span> Users </div>
        </div>
      </div>
      <div class="boldText">Learner Satisfaction</div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div>
        <div class="bigNumber float-left text-danger"> {{feedbackDataElement.trainerRating}} </div>
        <div class="small">
          <div class="">
            <span class="changeNumber">
              <i class="fas fa-arrow-up"></i> by {{feedbackDataElement.trainerRatingChange}} % </span> Users </div>
        </div>
      </div>
      <div class="boldText">Trainer Rating</div>
    </div>
    <div class="col-md-6">
      <div>
        <div class="bigNumber float-left"> {{feedbackDataElement.contentRating}} </div>
        <div class="small">
          <div class="">
            <span class="changeNumber">
              <i class="fas fa-arrow-up"></i> by {{feedbackDataElement.contentRatingChange}} % </span> Users </div>
        </div>
      </div>
      <div class="boldText">Content Rating</div>
    </div>
  </div>
</div>