.feedback-component {
  .feedback-emoji {
    padding: 12px;
    margin-left: -10px;
    margin-right: 10px;
  }
  .p-t-20 {
    padding-top: 20px;
  }
  .m-r-3 {
    margin-right: 3px;
  }
  .danger-class {
    color: #ff4e00;
  }
}

@media (max-width: 576px) {
  .feedback-emoji {
    padding: 0;
    text-align: center;
  }
  .feedback-emoji img {
    height: 60px;
    width: 60px;
  }
  .p-t-20 {
    padding-top: 0;
  }
}
