.feedback-emoji i {
    color: #ffc107;
}

.p-t-35 {
    padding-top: 35px;
}

.p-t-7 {
    padding-top: 7px !important;
    font-size: 12px;
}

.m-r-0 {
    margin-right: 0px;
}

.danger-class {
    color: #FF4E00;
}