<div class="widget-block feedback-component">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link">Feedback</a>
      </li>
    </ul>
    <div>
      <span class="float-right widget-menu" data-toggle="tooltip" data-placement="top" title="Feedback">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
    </div>
  </div>

  <div *ngIf="spinner_loader" class="spinner_loading">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
    <span class="spinner_inside">No data found</span>
  </div>

  <div *ngIf="!spinner_loader && !noDataFlag">
    <div class="row p-t-18">
      <div class="col-md-5 col-sm-5 col-xs-5 col-5 feedback-emoji">
        <img src="/assets/images/happy_emoji.png" alt="happy" *ngIf="learnerSatisfaction >= 75">

        <img src="/assets/images/meh_emoji.png" alt="meh" *ngIf="learnerSatisfaction >= 50 && learnerSatisfaction < 75">

        <img src="/assets/images/angry_emoji.png" alt="angry" *ngIf="learnerSatisfaction < 50">
      </div>

      <div class="col-md-7 col-sm-7 col-xs-7 col-7">
        <div class="arrow-space">
          <span class="bigNumber" [ngClass]="{'positive-color': learnerSatisfaction >= 50, 'negative-color': learnerSatisfaction < 50}">
            {{learnerSatisfaction}}% </span>
          <span class="small-font">
            <img *ngIf="learnerSatisfationBy <= 0" src="/assets/images/down_arrow.png" alt="down_arrow">
            <img *ngIf="learnerSatisfationBy > 0" src="/assets/images/up_arrow.png" alt="up_arrow">
            <span> by</span>
            <span class="changeNumberLow" [ngClass]="{'changeNumberLow': learnerSatisfationBy <= 0, 'changeNumber': learnerSatisfationBy > 0}">
              {{learnerSatisfationBy}}%
            </span>
          </span>
        </div>
        <div class="m-t-10">Learner Satisfaction</div>
      </div>
    </div>

    <div class="row text-fix-bottom">
      <div class="col-md-6 col-sm-6 col-xs-6 col-6 col-6">
        <div class="arrow-space">
          <span class="bigNumber m-r-3" [ngClass]="{'positive-color': trainerRating >= 3, 'negative-color': trainerRating < 3}">{{trainerRating}}</span>
          <span class="small-font">

            <img *ngIf="responseData.trainerRatingBy <= 0" src="/assets/images/down_arrow.png" alt="down_arrow">
            <img *ngIf="responseData.trainerRatingBy > 0" src="/assets/images/up_arrow.png" alt="up_arrow">

            <span> by </span>
            <span class="changeNumber" [ngClass]="{'changeNumberLow': responseData.trainerRatingBy <= 0, 'changeNumber': responseData.trainerRatingBy > 0}">
              {{trainerRatingBy}}%</span>
          </span>
        </div>
        <p class="m-t-10">Trainer Rating</p>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6 col-6">
        <div class="arrow-space">
          <span class="bigNumber m-r-3" [ngClass]="{'positive-color': contentRating >= 3, 'negative-color': contentRating < 3}">{{contentRating}}</span>
          <span class="small-font">

            <img *ngIf="responseData.contentRatingBy <= 0" src="/assets/images/down_arrow.png" alt="down_arrow">
            <img *ngIf="responseData.contentRatingBy > 0" src="/assets/images/up_arrow.png" alt="up_arrow">

            <span> by </span>
            <span class="changeNumber" [ngClass]="{'changeNumberLow': responseData.contentRatingBy <= 0, 'changeNumber': responseData.contentRatingBy > 0}">
              {{contentRatingBy}}%</span>
          </span>
        </div>
        <p class="m-t-10">Content Rating</p>
      </div>
    </div>
  </div>
</div>
