<div class="dashboard fullviewComponent learner-performance-fullview">
  <div class="widget-heading row">
    <span>
      <i class="fas fa-angle-left" routerLink="/"></i>
    </span>
    <span> How are my learners performing?</span>
  </div>

  <div class="row">
    <div class="col">
      <div class="widget-block">
        <span>
          Display graph for
          <select name="selectComponent" id="selectComponent" (change)="onchange($event.target.value)">
            <option value="performance" selected> Performance across all courses </option>
            <option value="progress"> Progress across all courses </option>
          </select>
        </span>
        <div class="bar-chart-graph" appBarChart [data]="learnerData"></div>
        <!-- <app-performance *ngIf="selectedGraph == 'performance'"></app-performance>
        <app-progress *ngIf="selectedGraph == 'progress'"></app-progress> -->

        <div>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">
                  <span>
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
                  Course Name
                </th>

                <th scope="col">Start Date
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
                <th scope="col">End Date
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
                <th scope="col">Faculty Name
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
                <th scope="col">Students Count
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
                <th scope="col">Program Status Avg
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
                <th scope="col">Completion Avg
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
                <th scope="col">Test Score Avg
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
                <th scope="col">Highest Score
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of learnerPerformacneProgressData">
                <th scope="row"> {{data.courseName}} </th>
                <td> {{data.startDate}} </td>
                <td> {{data.endDate}} </td>
                <td> {{data.facultyName}} </td>
                <td> {{data.studentsCount}} </td>
                <td> {{data.programStatus}} </td>
                <td> {{data.completion}} % </td>
                <td> {{data.testScore}} %</td>
                <td> {{data.highestScore}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>