<div class="dashboard fullviewComponent learner-performance-fullview" id="dashboard_part_one">
  <div class="row">
    <div class="widget-heading fullview-heading col-md-6">
      <span>
        <i class="fa fa-angle-left" routerLink="/"></i>
      </span>
      <span> How are my learners performing? </span>
    </div>
    <!-- <div class="col-md-6">
      <app-filter-widget [filtersInfo]="filtersData" (filterEvent)="getFilterObject($event)"></app-filter-widget>
    </div> -->
  </div>

  <div class="row">
    <div class="col">
      <div class="widget-block">
        <span>
          <span class="font-weight-bold">Display graph for</span>
          <select class="f-w-100" name="selectComponent" id="selectComponent" (change)="onchange($event.target.value)">
            <option value="performance" selected> Performance across all courses </option>
            <option value="progress"> Progress across all courses </option>
          </select>
        </span>

        <!-- <div class="bar-chart-graph" appBarChart [data]="graphData"></div> -->
        <div>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">
                  <span>
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                  Course Name
                </th>

                <th scope="col">Start Date
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
                <th scope="col">End Date
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
                <!-- <th scope="col">Faculty Name
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th> -->
                <th scope="col">Students Count
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
                <th scope="col">Program Status
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
                <th scope="col">Completion
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
                <th scope="col">Test Score Avg
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
                <th scope="col">Highest Score
                  <span>
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of learnerData">
                <th scope="row" class="text-primary"> {{data.courseName}} </th>
                <td> {{data.courseStartDate | date}} </td>
                <td> {{data.courseEndDate | date}} </td>
                <!-- <td> {{data.facultyName}} </td> -->
                <td> {{data.studentCount}} </td>
                <td> {{data.programStatus}} </td>
                <td> {{data.completionAvg}} % </td>
                <td> {{data.testScoreAvg}} %</td>
                <td> {{data.highestScore}} %</td>
              </tr>
            </tbody>
          </table>
          <div class="row float-right">
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="120" [(page)]="page" [maxSize]="5"></ngb-pagination>
            <span class="p-l-10">Go to page</span>
            <span class="p-l-10">
              <input class="input-border" type="text">
            </span>
            <span class="p-l-10">
              <button class="btn btn-primary">Go</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>