<div class="widget-block">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link">Avg. Course Performance</a>
      </li>
    </ul>
    <div class="float-right widget-menu">
      <span data-toggle="tooltip" data-placement="top" title="Need Help?">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
      <span class="p-l-20" placement="left">
        <i class="fa fa-ellipsis-v ellipse" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div class="learner-performance-course"> </div>

  <!-- <app-filter-widget [filtersInfo]="filtersData" (filterEvent)="getFilterObject($event)"></app-filter-widget> -->
</div>