<div class="header-class">

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="my-2 my-lg-0">
      <a class="navbar-brand float-left" href="#">
        <img src="https://edunxt.smude.edu.in/sites/all/themes/edunxt/images/edunxt-logo.png" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item p-l-10">
          <span>
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
          <span class="p-l-5">Search</span>
        </li>
        <li class="nav-item p-l-10">
          <span>
            <i class="far fa-calendar-alt"></i>
          </span>
          <span class="p-l-5">Calendar</span>
        </li>
        <li class="nav-item p-l-10">
          <span>
            <i class="far fa-bell"></i>
          </span>
          <span class="p-l-5">Notifications</span>
        </li>
        <li class="nav-item p-l-10 user">
          <span>
            <i class="far fa-user-circle fa-lg"></i>
          </span>
          <span> {{userName}} </span>
        </li>

        <li *ngIf="cookieFound" class="list-inline-item logoutBtn" style="padding-left: 10px;">
          <span class="cursor-pointer text-danger" (click)="logout()">
            <i class="fas fa-power-off"></i>
            Logout
          </span>
        </li>

        <li *ngIf="!cookieFound" class="list-inline-item selectCourse p-l-10">
          <select class="custom-select" [(ngModel)]="selectTenantName" (change)="changeCourse(selectTenantName)" id="selectCourse"
            style="padding: 2px 20px;height: 24px;">
            <option class="course-item" *ngFor="let tenants of tenantsName" value="{{tenants}}">{{tenants}}</option>
          </select>
        </li>

      </ul>
    </div>
  </nav> -->

  <div class="row resol-header bg-light">
    <div class="col-4">
      <a class="navbar-brand float-left" href="#">
        <img src="https://edunxt.smude.edu.in/sites/all/themes/edunxt/images/edunxt-logo.png" alt="">
      </a>
    </div>

    <div class="col-8 resol_tenant">
      <div class="logout-menu">

        <div *ngIf="!cookieFound">
          <select class="custom-select" [(ngModel)]="selectTenantName" (change)="changeCourse(selectTenantName)" id="selectCourse"
            style="padding: 2px 20px;height: 24px;">
            <option class="course-item" *ngFor="let tenants of tenantsName" value="{{tenants}}">{{tenants}}</option>
          </select>
        </div>

        <div *ngIf="cookieFound">
          <span class="text-primary"> {{userName}} </span>
          <span> | </span>
          <span class="cursor-pointer text-danger" (click)="logout()">
            <i class="fa fa-power-off"></i>
            Logout
          </span>
        </div>
      </div>

    </div>

  </div>

  <div class="welcome-user">
    <div class="float-left">
      <img class="" src="/assets/images/user.png" alt="" height="68px">
    </div>
    <div class="float-left">
      <div class="header-text">Hello {{userName}}</div>
      <div class="description">Let's take a look at how your organization is learning.</div>
    </div>
  </div>
</div>
