@import "../../../app/shared/variables.scss";

.header-class {
  border: 0;
  position: relative;
}

.welcome-user {
  display: flex;
  height: 80px;
  padding: 12px 36px;
  color: $white;
  background-color: $lightBlue;

  img {
    height: 55px;
    width: 60px; // border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 18px;
  }

  p {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .header-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .description {
    font-size: 11px;
  }
}

.navbar-right {
  float: right;
  // position: absolute;
  // right: 50px;
  color: $darkGray;

  .user {
    border-left: 1px solid $black;
    margin-left: 10px;
  }

  .p-l-5 {
    padding-left: 5px;
  }
}

.resol-header {
  padding: 4px 36px;

  .logout-menu {
    float: right;
    width: auto;
    margin-top: 7px;
  }

  .custom-test {
    float: right;
    width: auto;
    vertical-align: middle;
    margin-top: 11px;
  }
}


// .logoutBtn{
//   text-decoration: underline;
//   color: #5584ff;
// }
@media (max-width: 576px) {
  .welcome-user {
    padding: 8px 16px;
  }
}
