<div class="dashboard">

  <div class="widget-row">
    <app-orgactivitywidget></app-orgactivitywidget>
  </div>

  <div class="widget-row">
    <div class="row">

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-active-user-widget></app-active-user-widget>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-learners-performance-widget></app-learners-performance-widget>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-org-performance-widget></app-org-performance-widget>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-best-programs-widget></app-best-programs-widget>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-trackofgoals></app-trackofgoals>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-org-interest-widget></app-org-interest-widget>
      </div>

    </div>
  </div>
</div>