<div>
  <div class="font-weight-normal mode-of-delivery">
    <p>
      <!-- <b>View Online vs Offline delivery over the last 30 days</b> -->
      <b>View Online vs Offline delivery </b>
    </p>
  </div>

  <div *ngIf="spinner_loader" class="spinner_loading">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
    <span class="spinner_inside">No data found</span>
  </div>

  <div class="line-block">
    <!-- <div id="modeOfDeliveryGraph"></div> -->
    <app-linegraph [lineGraphData]="chartData"></app-linegraph>
    <div class="tool-tip">
      <table>
        <tr>
          <td class="ttip-div ttip-date"></td>
        </tr>
        <tr>
          <td class="ttip-div ttip-online"></td>
        </tr>
        <tr>
          <td class="ttip-div ttip-offline"></td>
        </tr>
      </table>
    </div>
    <div *ngIf="responseData.length>0">

      <div class="row graph-badges">
        <div class="col-md-6 col-sm-6 col-6">
          <i class="fa fa-circle faculty" aria-hidden="true"></i>
          Online Mode
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <i class="fa fa-circle learner" aria-hidden="true"></i>
          Offline Mode
        </div>
      </div>

      <div class="mode-dates">
        <p> Mode of delivery counts from
          <span class="date-class"> {{responseData[0].date | date}} </span> to
          <span class="date-class"> {{responseData[responseData.length-1].date | date}} </span>
        </p>
      </div>
    </div>
  </div>
</div>