<div>
  <div class="font-weight-normal mode-of-delivery">
    <p>
      <b>View Online vs Offline delivery over the last 30 days</b>
    </p>
  </div>

  <div *ngIf="spinner_loader" class="spinner_loading">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
    <span class="spinner_inside">No data found</span>
  </div>

  <div class="line-block" (window:resize)="usersChartRender()">
    <div id="modeOfDeliveryGraph"></div>
    <div class="tool-tip">
      <table>
        <tr>
          <td class="ttip-div ttip-date"></td>
        </tr>
        <tr>
          <td class="ttip-div ttip-online"></td>
        </tr>
        <tr>
          <td class="ttip-div ttip-offline"></td>
        </tr>
      </table>
    </div>
    <div *ngIf="responseData.length>0" class="row graph-badges" style="margin-top:50px;">
      <div class="col-md-6 col-sm-6 col-6">
        <!-- <i class="far fa-circle faculty"></i>  -->
        <fa-icon [icon]="faCircle" class="faculty"></fa-icon>
        Online Mode
      </div>
      <div class="col-md-6 col-sm-6 col-6">
        <!-- <i class="far fa-circle learner"></i>  -->
        <fa-icon [icon]="faCircle" class="learner"></fa-icon>
        Offline Mode
      </div>
    </div>
  </div>
</div>
