.mode-of-delivery {
  margin-top: 25px;
}

#activeUserGraph {
  margin-top: 20px;
}

.tool-tip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: white;
  pointer-events: none;
  color: black;
  border-radius: 5px;
  border: solid 1px #e9e9e9;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  width: 150px;
  table {
    width: 100%;
  }
  .ttip-div {
    padding: 5px;
    width: 70px;
  }
}
