<div>
  <div class="font-weight-normal mode-of-delivery">
    <p>
      <b>View Online vs Offline delivery over the last 30 days</b>
    </p>
  </div>

  <div *ngIf="!usersData" class="spinner_loading text-center">
    <!-- <i class="fas fa-spinner fa-spin fa-3x align-middle"></i> -->
    <p>No data found</p>
  </div>

  <div class="line-block" *ngIf="usersData">
    <div id="modeOfDeliveryGraph">
      <svg></svg>
    </div>
    <div class="tool-tip">
      <table>
        <tr>
          <td class="ttip-div ttip-date">
            May 01
          </td>
        </tr>
        <tr>
          <td class="ttip-div ttip-learners">
          </td>
        </tr>
        <tr>
          <td class="ttip-div ttip-faculty">
          </td>
        </tr>
      </table>
    </div>
    <div class="row graph-badges">
      <div class="col-md-6 col-sm-6 col-6">
        <i class="far fa-circle faculty"></i> Online Mode
      </div>
      <div class="col-md-6 col-sm-6 col-6">
        <i class="far fa-circle learner"></i> Offline Mode
      </div>
    </div>
  </div>
</div>
