<div>
  <div class="font-weight-bold">
    View Learner Performance across courses
  </div>

  <!-- <div id="performanceGraph"></div> -->
  <!-- <app-bar-graph [graphData]="graphInfo"></app-bar-graph> -->
  <div class="bar-chart-graph" appBarChart [data]="barChartData"></div>

  <div class="row graph-badges">
    <div class="col-md-6">
      <i class="far fa-circle" style="color: #ff980061; background-color: #ff980061"></i> Jan 2018
    </div>
    <div class="col-md-6">
      <i class="far fa-circle" style="color: #ffc107; background-color: #ffc107"></i> Dec 2017
    </div>
  </div>
</div>