<div>
  <div class="font-weight-bold m-b-10">
    View Performance across courses
  </div>

  <!-- <div class="bar-chart-graph" appBarChart [data]="barChartData" [getTab]="getTab"></div> -->
  <span id="y-axis"></span>
  <graph-chart [dataset]="barChartData" [graphName]="getTab"></graph-chart>

  <div class="row graph-badges">
    <!-- <div *ngFor="let batch of batchNames" class="col-md">
      <i class="far fa-circle"></i> {{batch}}
    </div> -->
    <div class="col-md-6">
      <i class="fa fa-circle actual-performance" aria-hidden="true"></i> Actual Performance
    </div>
    <div class="col-md-6">
      <i class="fa fa-circle expected-performance" aria-hidden="true"></i> Expected Performance
    </div>
  </div>
</div>
