<div class="widget-heading row">
  <span>
    Learning Summary
  </span>
</div>
<div class="activity-widgets row d-flex w-100">

  <div class="col-md-3 col-sm-6 col-xs-12">
    <app-learner-pacer></app-learner-pacer>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <app-learner-progress></app-learner-progress>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <app-learner-time-spent></app-learner-time-spent>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <app-learner-score-card></app-learner-score-card>
  </div>

</div>