<div class="dashboard" id="dashboard_part_one">

  <div class="widget-row">
    <app-activity-widget></app-activity-widget>
  </div>

  <div class="widget-row">
    <div class="row">

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-active-user-widget></app-active-user-widget>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-learners-track-widget></app-learners-track-widget>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-learners-performance-widget></app-learners-performance-widget>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-scores-distribution-widget></app-scores-distribution-widget>
      </div>

    </div>
  </div>

</div>


<div class="dashboard" id="dashboard_part_two">
  <div class="widget-row">
    <div class="row">

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-org-performance-widget></app-org-performance-widget>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-content-performance-widget></app-content-performance-widget>
      </div>

      <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-notification-performance-widget></app-notification-performance-widget>
      </div> -->

      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <app-org-interest-widget></app-org-interest-widget>
      </div>
    </div>
  </div>
</div>
