<div class="dashboard fullviewComponent learner-performance-fullview" id="dashboard_part_one">
  <div class="row">
    <div class="widget-heading fullview-heading col-md-6">
      <span>
        <i class="fa fa-angle-left" routerLink="/"></i>
      </span>
      <span> What is my organization interested in?</span>
    </div>
    <!-- <div class="col-md-6">
      <app-filter-widget [filtersInfo]="filtersData" (filterEvent)="getFilterObject($event)"></app-filter-widget>
    </div> -->
  </div>
  <div class="widget-block">

    <div *ngIf="spinner_loader" class="spinner_loading">
      <app-spinner></app-spinner>
    </div>

    <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
      <span class="spinner_inside">No data found</span>
    </div>

    <div>
      <table class="table table-borderless">
        <thead>
          <tr>

            <th scope="col" style="width:35%">
              <span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <span>
                <input type="text" [(ngModel)]="searchString" placeholder="Interest / Topic" (keyup)="searchItem()">
              </span>
              <span (click)="sortByFn('interest')">
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('totalHits')">Total Hits
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('noOfFollowers')">Followers
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('videoTags')">Video Tags
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('articleTags')">Article Tags
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col" (click)="sortByFn('avgRating')">Avg Rating
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let data of responseData">
          <tr>
            <td class="">{{data.interest}}</td>
            <td class="">
              <span>{{data.totalHits}}</span>
              <span class="small-text">
                <span class="changeNumber">
                  <i class="fa fa-arrow-up" aria-hidden="true"></i>
                  <span class="m-l-5">{{data.hitsSinceLastMonth}}</span>
                </span>
                <span> since last month </span>
              </span>
            </td>
            <td class="">
              <span class="numberDisplay">{{data.noOfFollowers}}</span>
              <span class="small-text">
                <span class="changeNumber">
                  <i class="fa fa-arrow-up" aria-hidden="true"></i>
                  <span class="m-l-5">{{data.followersSinceLastMonth}}</span>
                </span>
                <span> since last month </span>
              </span>
            </td>
            <td class="">{{data.videoTags}}</td>
            <td class="">{{data.articleTags}}</td>
            <td class="">{{data.avgRating}}</td>
          </tr>
        </tbody>
      </table>

      <app-paginate *ngIf="pagination.total_pages > 1" class="paginationSpace" [pageInfo]="pagination" (gotoPage)="gotoPage($event)"></app-paginate>

    </div>
  </div>
</div>
