<div class="row">
  <div class="col-md-6">
    <p class="bold-text">
      Business Goals: {{config?.businessGoal}}
    </p>
    <p class="nop bold-text">
      Objective: {{config?.objective}}
    </p>
    <div class="row">
      <div class="col-md-4">
        <p>
          People Trained : {{config?.peopleTrained}}
        </p>
      </div>
      <div class="col-md-4">
        <p>
          Time Remaining : {{config?.timeRemaining}}
        </p>
      </div>
      <div class="col-md-4">
        <p>
          Status : {{config?.status}}
        </p>
      </div>
    </div>
  </div>

</div>
