<div>

  <span class="bigNumber float-left" [ngClass]="config.numberChange ? 'positive-color' : 'negative-color'">{{config.peopleCurrentlyEnrolled | customNumber}} </span>

  <div class="small-font">

    <span class="small arrow-space">
      <img *ngIf="config.peopleCurrentlyEnrolled > config.usersSinceLastMonth" src="/assets/images/up_arrow.png" alt="up_arrow">
      <img *ngIf="config.peopleCurrentlyEnrolled < config.usersSinceLastMonth" src="/assets/images/down_arrow.png" alt="down_arrow">
    </span>

    <span class="changeInNumberText">
      <span [ngClass]="config.peopleCurrentlyEnrolled >= config.usersSinceLastMonth ? 'changeNumber' : 'changeNumberLow'"> {{config.usersSinceLastMonth
        | customNumber}} </span>
      <span class="font-color"> {{config.Users}} </span>
      <p class="font-color"> As of {{monthFullName}} </p>
    </span>

  </div>

  <p class="m-t-10"> {{config.PeopleAreCurrentlyEnrolled}} </p>

</div>