.aheadOfSchedule {
  color: #f77f6c;
  background-color: #f77f6c;
}

.onTrack {
  color: #ffd630;
  background-color: #ffd630;
}

.behindSchedule {
  color: #5584ff;
  background-color: #5584ff;
}

.haveNotStarted {
  color: #23b14d;
  background-color: #23b14d;
}
