.aheadOfSchedule {
  color: #F77F6C;
  background-color: #F77F6C;
}

.onTrack {
  color: #5584FF;
  background-color: #5584FF;
}

.behindSchedule {
  color: #23B14D;
  background-color: #23B14D;
}

.haveNotStarted {
  color: #FFD630;
  background-color: #FFD630;
}
