<div class="widget-heading clearfix">
  <p class="float-left">How is my organization performing?</p>
  <p class="float-right p-r-6">
    <i class="fa fa-question-circle" aria-hidden="true"></i>
  </p>
</div>
<div class="widget-block">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{active:teams}" (click)="activeUsersFn()">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{active:trainers}" (click)="modeDeliveryFn()">Trainers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{active:!teams && !trainers}" (click)="locationFn()">Learners</a>
      </li>
    </ul>
    <div class="float-right">
      <span>
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
      <ng-template #popcontent>
        <ul class="list-inline">
          <li class="list-inline-item">
            <span>
              <img src="../../assets/IconsSVGs/SAve.svg">
            </span>
            <span class="font-color p-l-10">
              <b>Save this view</b>
            </span>
          </li>
          <li class="list-inline-item">
            <span>
              <img src="../../assets/IconsSVGs/mail.svg">
            </span>
            <span class="font-color p-l-10">
              <b>Email this report</b>
            </span>
          </li>
          <li class="list-inline-item">
            <span>
              <img src="../../assets/IconsSVGs/Download.svg">
            </span>
            <span class="font-color p-l-10">
              <b>Download this report</b>
            </span>
          </li>
        </ul>
      </ng-template>
      <span class="p-l-20" placement="right" [ngbPopover]="popcontent">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div class="org-performance">
    <app-trainers></app-trainers>
  </div>
  <app-filter-widget [routePath]="routePath"></app-filter-widget>

</div>