@import "../../../app/shared/variables.scss";

.footerContent {
  font-size: 0.8em;
  font-weight: 100;
  background-color: $grayTwo;
  padding: 20px 0;
}

.footerContent ul {
  margin: 0 auto;
}

.list-inline-item {
  font-weight: bold;
}
