<div class="widget-block">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <p class="nav-link">{{Config?.attentionName}}</p>
      </li>
    </ul>
  </div>
  <div class="attention-one-info">
    <div class="text-primary" style="font-weight: bold;">{{Config?.attentionHeading1}}</div>
    <div>
      <span>{{Config?.attentionSubHeading1}}</span>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-6">
      <p class="text-primary" style="font-size: 14px;font-weight: bold;"> {{Config?.attentionNumber1}} </p>
      <div> {{Config?.attentionNumber1Text}} </div>
    </div>
    <div class="col-md-6">
      <p class="text-primary" style="font-size: 14px;font-weight: bold"> {{Config?.attentionNumber2}} </p>
      <div> {{Config?.attentionNumber2Text}} </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-6">
      <p class="text-primary" style="font-size: 14px;font-weight: bold;"> {{Config?.attentionNumber3}} </p>
      <div> {{Config?.attentionNumber3Text}} </div>
    </div>
  </div>
</div>
