//pace batches
.aheadOfSchedule {
  color: #23b14d;
  background-color: #23b14d;
}

.onTrack {
  color: #5584ff;
  background-color: #5584ff;
}

.behindSchedule {
  color: #ffd630;
  background-color: #ffd630;
}

.haveNotStarted {
  color: #f77f6c;
  background-color: #f77f6c;
}

//performance batches
.excelling {
  color: #23b14d;
  background-color: #23b14d;
}

.passing {
  color: #5584ff;
  background-color: #5584ff;
}

.struggling {
  color: #ffd630;
  background-color: #ffd630;
}
.perfHaveNotStarted {
  color: #f77f6c;
  background-color: #f77f6c;
}

.paceDataSelect {
margin-left: 14px;
padding: 4px 20px 4px 4px;
border-radius: 3px;
width: auto;
}

.fullview-heading {
  float: left;
  margin-bottom: 20px;
}

.filterComponent {
  position: relative !important;
}

table {
  th, td{
    font-size: 11px;
    width: 11%;
  }
  .userName{
    font-weight: 600;
  }
}
.spinner_loading{
  position: initial;
  height: auto;
  .spinner_inside{
    top: 10px;
  }
}
