//pace batches
.aheadOfSchedule {
  color: #23b14d;
  background-color: #23b14d;
}

.onTrack {
  color: #5584ff;
  background-color: #5584ff;
}

.behindSchedule {
  color: #ffd630;
  background-color: #ffd630;
}

.haveNotStarted {
  color: #f77f6c;
  background-color: #f77f6c;
}

//performance batches
.excelling {
  color: #23b14d;
  background-color: #23b14d;
}

.passing {
  color: #ffd630;
  background-color: #ffd630;
}

.struggling {
  color: #f77f6c;
  background-color: #f77f6c;
}

.paceDataSelect {
  width: 155px;
}

.fullview-heading{
  float: left;
  margin-bottom: 20px;
}

.filterComponent{
  position: relative !important;
}