<div class="dashboard fullviewComponent widget-row learner-track-fullview container-fluid">
  <div class="row">
    <div class="widget-heading fullview-heading col-md-6">
      <span>
        <i class="fas fa-angle-left" routerLink="/"></i>
      </span>
      <span> Are my learners on track? </span>
    </div>
    <div class="col-md-6">
      <app-filter-widget [filtersInfo]="filtersData" (addFilterEmit)="addFilters($event)"></app-filter-widget>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
      <div class="widget-block text-center">
        <p>
          <b> View Learner performance across </b>
          <span class="text-primary font-weight-bold"> Batch</span>
        </p>
        <div appDonutChart [data]="performanceTrackValues">
        </div>
        <div class="row graph-badges">
          <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <i class="far fa-circle excelling"></i> Excelling
            <div> {{responseGraphDetails?.performanceData.excelling}} </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <i class="far fa-circle passing"></i> Passing
            <div> {{responseGraphDetails?.performanceData.passing}} </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <i class="far fa-circle struggling"></i> Struggling
            <div> {{responseGraphDetails?.performanceData.struggling}} </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <i class="far fa-circle perfHaveNotStarted"></i> Haven't Started
            <div> {{responseGraphDetails?.performanceData.haveNotStarted}} </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
      <div class="widget-block text-center">
        <p>
          <b> View Learner pace across </b>
          <span class="text-primary font-weight-bold"> Batch</span>
        </p>
        <div appDonutChart [data]="paceTrackValues">
        </div>
        <div class="row graph-badges">
          <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <i class="far fa-circle aheadOfSchedule"></i> Ahead of Schedule
            <div> {{responseGraphDetails?.paceData.aheadSchedule}} </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <i class="far fa-circle onTrack"></i> On Track
            <div> {{responseGraphDetails?.paceData.onTrack}} </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <i class="far fa-circle behindSchedule"></i> Behind Schedule
            <div> {{responseGraphDetails?.paceData.behindSchedule}} </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <i class="far fa-circle haveNotStarted"></i> Haven't Started
            <div> {{responseGraphDetails?.paceData.haveNotStarted}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="widget-block form-inline">
    <b>Display data for </b>
    <span *ngIf="filtersData.currentModule == 'pace'">
      <select class="custom-select paceDataSelect" [(ngModel)]="selectType" (change)="getDisplayObject(selectType)">
        <option value="aheadschedule">Ahead of Schedule</option>
        <option value="ontrack">On Track</option>
        <option value="behindschedule">Behind Schedule</option>
        <option value="have not started">Haven't Started</option>
      </select>
    </span>
    <span *ngIf="filtersData.currentModule == 'performance'">
      <select class="custom-select paceDataSelect" [(ngModel)]="selectType" (change)="getDisplayObject(selectType)">
        <option value="excelling">Excelling</option>
        <option value="passing">Passing</option>
        <option value="struggling">Struggling</option>
      </select>
    </span>

    <div *ngIf="spinner_loader" class="spinner_loading">
      <i class="fas fa-spinner fa-spin fa-3x spinner_inside"></i>
    </div>

    <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
      <span class="spinner_inside">No data found</span>
    </div>

    <div *ngIf="responseTrackDetails.length>0">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">
              <span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              Learner Name
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Sl. No.
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Course Name
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Team
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Batch
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <!-- <th scope="col">Team Leader
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th> -->
            <th scope="col">Score in course
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Score Avg.
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Highest Score
              <span>
                <i class="fa fa-sort" aria-hidden="true"></i>
              </span>
            </th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of responseTrackDetails">
            <th scope="row">
              <span>
                <img src="/assets/images/user.png" alt="userImg" height="20" width="20">
              </span>
              <span class="userName"> {{data.learnerName}} </span>
            </th>
            <td class=""> {{data.serialNumber}} </td>
            <td class=""> {{data.courseName}} </td>
            <td class=""> {{data.teamName}} </td>
            <td class=""> {{data.batchName}} </td>
            <!-- <td class=""> {{data.teamLeaderName}} </td> -->
            <td class=""> {{data.scoreInCourse}} </td>
            <td class=""> {{data.scoreAvg}} </td>
            <td class=""> {{data.highestScore}} </td>
            <td class="text-primary">
              <img src="/assets/IconsSVGs/congradulate.svg" alt="congrats" height="15" width="15">
              <span>Congratulate</span>
            </td>
          </tr>
        </tbody>
      </table>

      <app-paginate class="paginationSpace" [pageInfo]="pagination" (gotoPage)="gotoPage($event)"></app-paginate>

    </div>
  </div>
</div>