<div>
  <p>
    <b>View content consumption</b>
  </p>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Content</th>
        <th scope="col">Author</th>
        <th scope="col">Views</th>
        <th scope="col">Avg. Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let content of contentData">
        <th scope="row"> {{content.ContentName}} </th>
        <td> {{content.Author}} </td>
        <td> {{content.Views}} </td>
        <td>
          <span>
            <i class="far fa-star"></i>
          </span>
          <span> {{content.AvgRating}} </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>