<div>
  <p>
    <b>View content consumption</b>
  </p>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Content</th>
        <th scope="col">Author</th>
        <th scope="col">Views</th>
        <th scope="col">Avg. Rating</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row">Understanding Communication</th>
        <td>Shashank Kumar</td>
        <td>31412</td>
        <td>
          <span>
            <i class="far fa-star"></i>
          </span>
          <span>4.56</span>
        </td>
      </tr>
      <tr>
        <th scope="row">Writing for Social Media</th>
        <td>Shashank Kumar</td>
        <td>31412</td>
        <td>
          <span>
            <i class="far fa-star"></i>
          </span>
          <span>4.56</span>
        </td>
      </tr>
      <tr>
        <th scope="row">Communication Design</th>
        <td>Shashank Kumar</td>
        <td>31412</td>
        <td>
          <span>
            <i class="far fa-star"></i>
          </span>
          <span>4.56</span>
        </td>
      </tr>
      <tr>
        <th scope="row">Writing for Service Design</th>
        <td>Shashank Kumar</td>
        <td>31412</td>
        <td>
          <span>
            <i class="far fa-star"></i>
          </span>
          <span>4.56</span>
        </td>
      </tr>
      <tr>
        <th scope="row">Quiz on Principles of Management</th>
        <td>Shashank Kumar</td>
        <td>31412</td>
        <td>
          <span>
            <i class="far fa-star"></i>
          </span>
          <span>4.56</span>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div>
      <svg></svg>
    </div> -->
</div>