<div class="widget-block engagement-component">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link">Learner Engagement</a>
      </li>
    </ul>
    <div>
      <span class="float-right widget-menu">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div appHalfdonutchart [data]="engageData.peopleCompletedTraining"></div>
  <div class="row m-t-8">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <app-users-data [config]="config"></app-users-data>
    </div>
  </div>
</div>