<div class="widget-block">
  <div id="donut-chart">
    <svg></svg>
  </div>
  <div>
    <div>
      <div class="bigNumber float-left">{{engageData.peopleCompletedTraining}}</div>
      <div class="small">
        <div class="">
          <span class="changeNumber">
            <i class="fas fa-arrow-up"></i> {{engageData.peopleChange}} </span> Users </div>
        <div class="">since last month</div>
      </div>
    </div>
    <div class="boldText">People completed training programs</div>
  </div>
</div>