<div class="widget-block engagement-component">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link">Learner Engagement</a>
      </li>
    </ul>
    <div>
      <span class="float-right widget-menu" data-toggle="tooltip" data-placement="top" title="Learner Engagement">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
    </div>
  </div>

  <div *ngIf="spinner_loader" class="spinner_loading">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="!spinner_loader && noDataFlag" class="spinner_loading">
    <span class="spinner_inside">No data found</span>
  </div>

  <div [hidden]="spinner_loader">
    <div appHalfdonutchart [data]="percentageChange"></div>
  </div>

  <div *ngIf="!spinner_loader && !noDataFlag" class="row m-t-8 text-fix-bottom">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <app-users-data [config]="config"></app-users-data>
    </div>
  </div>
</div>
