.widget-heading {
  p {
    margin-bottom: 0px;
    padding-left: 6px;
  }
  i {
    color: #ff5722;
    right: 8px;
    top: 8px;
    font-size: 14px;
  }
}

.list-inline {
  padding-left: 0px;
  width: 170px;
}

.list-inline-item {
  padding-top: 15px;
  img {
    height: 16px;
    width: 16px;
  }
}

table th {
  padding: 0px 12px;
}
