<div class="widget-block">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link">Learner Pace</a>
      </li>
    </ul>
    <div>
      <span class="float-right widget-menu" data-toggle="tooltip" data-placement="top" title="Need Help?">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div *ngIf="responseData==0" class="spinner_loading text-center">
    <!-- <i class="fas fa-spinner fa-spin fa-3x align-middle"></i> -->
    <p>No data found</p>
  </div>
  <div appDonutChart [data]="paceTrackValues" [componentName]="componentName">
  </div>
  <div *ngIf="responseData" class="m-t-16">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="bigNumber aheadOfScheduleColor">{{responseData.behindSchedule}}</p>
        <p class="m-t-10">Behind Schedule</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="bigNumber onTrackClass">{{responseData.haveNotStarted}}</p>
        <p class="m-t-10">Haven't Started</p>
      </div>
    </div>
  </div>
</div>
