.danger-class {
  color: #ff4e00;
}

.aheadOfScheduleColor {
  color: #fca104;
}

.onTrackClass {
  color: #23b14d;
}

.behindSchedule {
  color: #5584ff;
}

.havenotStarted {
  color: #f77f6c;
}

p {
  margin-bottom: 6px;
  font-size: 12px !important;
}

.m-b-0 {
  margin-bottom: 0;
}

.bigNumber {
  font-size: 14px !important;
}

.text-fix-bottom {
  bottom: 1rem !important;
}

@media (max-width: 576px) {
  .m-t-10 {
    margin-top: 0;
  }
}
