.danger-class {
  color: #FF4E00;
}

.m-t-16 {
  margin-top: 16px;
}

.aheadOfScheduleColor {
  color: #F77F6C;
}

.onTrackClass {
  color: #FFD630;
}

.behindSchedule {
  color: #5584FF;
}

.havenotStarted {
  color: #23B14D;
}
