<div class="widget-block">
  <div class="headingText clearfix">
    <ul class="nav float-left">
      <li class="nav-item">
        <a class="nav-link">Learner Pace</a>
      </li>
    </ul>
    <div>
      <span class="float-right widget-menu">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div>
    <div appDonutChart [data]="paceTrackValues" [componentName]="componentName" >
    </div>
    <div class="row m-t-16">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="bigNumber aheadOfScheduleColor">{{paceDataElement.aheadOfSchedule}}</p>
        <p class="boldText m-t-10">Ahead of Schedule</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="bigNumber onTrackClass">{{paceDataElement.onTrack}}</p>
        <p class="boldText m-t-10">On Track</p>
      </div>
    </div>
  </div>
</div>
