// @font-face {
//   font-family: Muli;
//   font-weight: Bold;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: normal;
// }

// @font-face {
//   font-family: Muli;
//   font-weight: 900;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: normal;
// }

// @font-face {
//   font-family: Muli;
//   font-weight: 900;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: italic;
// }

// @font-face {
//   font-family: Muli;
//   font-weight: Bold;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: italic;
// }

// @font-face {
//   font-family: Muli;
//   font-weight: bolder;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: normal;
// }

// @font-face {
//   font-family: Muli;
//   font-weight: bolder;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: italic;
// }

// @font-face {
//   font-family: Muli;
//   font-weight: 100;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: normal;
// }

// @font-face {
//   font-family: Muli;
//   font-weight: 100;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: italic;
// }

// @font-face {
//   font-family: Muli;
//   font-weight: 900;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: italic;
// }

// @font-face {
//   font-family: Muli;
//   font-weight: 100;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: normal;
// }

// @font-face {
//   font-family: Muli;
//   font-weight: 100;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: italic;
// }

// @font-face {
//   font-family: Muli;
//   font-weight: 400;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: normal;
// }

// @font-face {
//   font-family: Muli;
//   font-weight: 500;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: normal;
// }

// @font-face {
//   font-family: Muli;
//   font-weight: 500;
//   src: url("assets/fonts/Muli-Bold.ttf") format('truetype');
//   font-style: italic;
// }

@font-face {
  font-family: Muli;
  font-weight: 100;
  src: url("assets/fonts/Muli-Regular.ttf") format('truetype');
  font-style: normal;
}
