.selectDate {
  border: 1px solid #0146f9;
  color: #0146f9;
  .uneditable-input {
    border-right: 1px solid #0146f9;
    color: #5584ff;
    font-size: 13px;
    padding: 8px;
  }
  .calender-img {
    padding: 5px 5px 0px 5px;
  }
}
.form-group {
  margin-bottom: 0px !important;
}
