<div>
  <p>
    <b>View content consumption</b>
  </p>
  <div class="line-block">
    <div id="activeUserGraph"></div>
    <div class="tool-tip">
      <table>
        <tr>
          <td class="ttip-div ttip-date"></td>
        </tr>
        <tr>
          <td class="ttip-div ttip-learners"></td>
        </tr>
        <tr>
          <td class="ttip-div ttip-faculty"></td>
        </tr>
      </table>
    </div>
    <div class="row graph-badges">
      <div class="col-md-6 col-sm-6 col-6">
        <i class="far fa-circle learner"></i> Learners
      </div>
      <div class="col-md-6 col-sm-6 col-6">
        <i class="far fa-circle faculty"></i> Faculty and Admins
      </div>
    </div>
  </div>
</div>
