.imageSpace img {
  height: 36px;
  width: 36px;
  margin-bottom: 8px;
  border: 1px solid #fff;
}

.activeUsersImg img:first-child {
  margin-left: 0;
}

.activeUsersImg img {
  margin-left: -8px;
  border-radius: 50%;
}

.font-weight-bold a {
  color: #007bff !important;
}

.fa-user-friends {
  color: #ff5722;
}

#activeUserGraph {
  margin-top: 20px;
}

.graph-badges {
  .learner {
    color: #fca104;
    background-color: #fca104;
  }
  .faculty {
    color: #5584FF;
    background-color: #5584FF;
  }
}

.tool-tip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background-color: white;
  pointer-events: none;
  color: black;
  border-radius: 5px;
  border: solid 1px #e9e9e9;
  font-size: 12px;
  font-family: "Muli";
  width: 150px;
  table {
    width: 100%;
  }
  .ttip-div {
    padding: 5px;
    width: 70px;
  }
  .ttip-date {
    font-weight: bold !important;
  }
}
