<div class="org-interest">
  <p class="bold-text">
    Most watched topics and interests
  </p>
  <div class="row">
    <div class="widget-heading col-md-5">
      <div class="heading clearfix">
        <p class="float-left bold-text">
          Top Interests
        </p>
        <p class="float-right p-r-6">
          <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i>
        </p>
      </div>
      <div *ngFor="let orgInterestData of orgData">
        <div class="card-block">
          <p class="bold-text">
            {{orgInterestData.name}}
          </p>
          <p class="nop bold-text">
            <span>{{orgInterestData.numberOfPeople}}</span>
            <span>People</span>
          </p>
          <p>
            <span class="changeNumber">
              <i class="fa fa-arrow-up" aria-hidden="true"></i>{{orgInterestData.numberOfPeopleSinceLastMonth}}</span>
            <span>Hits since last month</span>
          </p>
        </div>
      </div>
    </div>
    <div class="widget-heading col-md-7">
      <div class="heading clearfix">
        <p class="float-left bold-text">
          Popular Topics
        </p>
        <p class="float-right p-r-6">
          <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i>
        </p>
      </div>
      <div>
        <ng-tag-cloud [data]="data" [width]="options.width" [height]="options.height" [overflow]="options.overflow">
        </ng-tag-cloud>
      </div>
    </div>
  </div>
</div>