<div class="org-interest">
  <p class="bold-text">
    Most watched topics and interests
  </p>
  <div class="row m-l-2">
    <!-- <div class="widget-heading col-md-5" *ngIf="orgInterestData.length > 0"> -->
    <div class="widget-heading col-md-4">
      <div class="heading clearfix">
        <p class="float-left bold-text">
          Top Interests
        </p>
        <p class="float-right p-r-6">
          <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Top Interests"></i>
        </p>
      </div>
      <div *ngFor="let orgInterest of orgInterestData" [ngClass]="{'new-interest': orgInterest.hasOwnProperty('new')}">
        <div class="card-block">
          <p class="courseName bold-text" data-toggle="tooltip" data-placement="top" title="{{orgInterest.interest}}">
            {{orgInterest.interest}}
          </p>
          <p class="nop bold-text">
            <span> {{orgInterest.noOfFollowers | customNumber}} </span>
            <span class="m-l-5"> People </span>
          </p>
          <p>
            <span class="changeNumber">
              <i class="fa fa-arrow-up" aria-hidden="true"></i>
              <span class="m-l-5">{{orgInterest.hitsSinceLastMonth | customNumber}}</span>
            </span>
            <span class="m-l-4 f-w-100">Hits since last month</span>
          </p>
        </div>
      </div>
    </div>
    <div class="widget-heading col-md-8">
      <div class="heading clearfix">
        <p class="float-left bold-text">
          Popular Topics
        </p>
        <p class="float-right p-r-6">
          <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Popular Topics"></i>
        </p>
      </div>
      <div id="word-cloud">
        <ng-tag-cloud class="cloud-data" *ngIf="wordData.length > 0" [data]="data" [width]="options.width" [overflow]="options.overflow">
        </ng-tag-cloud>
      </div>
    </div>
  </div>
</div>
