<ngb-pagination class="d-flex justify-content-end" [collectionSize]="pageInfo.total" [(page)]="pageInfo.page" [maxSize]="3"
  [rotate]="true" (pageChange)="loadPage($event)">
</ngb-pagination>

<span class="customPage" *ngIf="pageInfo.total>10">
  <span class="m-l-10">Go to page</span>
  <span class="m-l-10">
    <input type="number" min="1" [(ngModel)]="selectPage" (keyup)="blockSpecialChar($event)">
  </span>
  <span class="goToPage m-l-10" [class.disable]="selectPage == undefined || selectPage == ''" (click)="loadPage(selectPage)">Go</span>
</span>
