<div class="filterComponent">
  <ul class="float-left">
    <li class="list-inline-item searchList" *ngIf="0">
      <div class="search-org-user">
        <span class="serach-icon">
          <i class="fas fa-search"></i>
        </span>
        <input type="text" placeholder="Search">
      </div>
    </li>
    <li class="list-inline-item filter">
      <div ngbDropdown>
        <div id="dropdownBasic1" ngbDropdownToggle>
          <span>Add a Filter</span>
          <i class="fas fa-plus-circle"></i>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <!-- <div *ngIf="filterArray">
            <div class="dropdown-item" *ngFor="let filter of filterArray">filter[0].zoneName</div>
          </div> -->
          <div class="dropdown-item">South Zone</div>
          <div class="dropdown-item" *ngFor="let filter of filterArray">filter[0].zoneName</div>
          <div class="dropdown-item">North Zone</div>
          <div class="dropdown-item">East Zone</div>
          <div class="dropdown-item">West Zone</div>
        </div>
      </div>
    </li>
    <!-- <span *ngIf="filterArray">
      <li class="list-inline-item" *ngFor="let filet of filterArray; let i = index">
        <span>{{filterArray[0]}}</span>
        <i class="far fa-times-circle" (click)="removeFilter(i)"></i>
      </li>
    </span> -->
  </ul>
  <div class="viewDetails ">
    <span class="text-primary float-right" class="cursor-pointer" (click)="routetoFullview()"> View Details</span>
    <span>
      <i class="fas fa-angle-right"></i>
    </span>
  </div>

</div>