.f-w-100 {
  font-weight: 100;
  color: #5584ff;
}

.learner-performance-fullview table thead tr th {
  font-weight: bold;
}

.learner-performance-fullview table tbody tr th {
  font-weight: 500;
  color: #0146f9;
}

.fail_class {
  font-weight: 100;
  color: #ff4e00 !important;
}

.learner-performance-fullview table tbody tr td {
  font-weight: 100;
}
