<div class="best-program-card col-md-12">
  <img class='photos' src={{programdata?.imgUrl}} alt="image">
  <div class="program-info">
    <div class="program-heading">{{programdata?.programName}}</div>
    <div>
      <span class="bigNumber float-left" style="color:#5584ff;">{{programdata?.noOfUsers}}</span>
      <div class="small-font">
        <span class="small">
          <img src='/assets/images/up_arrow.png' alt="up_arrow" style="height:15px;width:15px;">
        </span>
        <span class="p-l-10">
          <span class="changeNumber">{{programdata?.changeInUsers}}</span>
          <span class="font-color">{{programdata?.users}}</span>
          <p class="font-color" style="padding-left:70px">{{programdata?.sinceLastMonth}}</p>
        </span>
      </div>
    </div>
  </div>
</div>